{
  "openapi": "3.0.0",
  "info": {
    "title": "Data Distributor - 1.0.2",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://itp-dados.hml.linaopenx.com.br"
    },
    {
      "url": "http://localhost:3001"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2Auth": {
        "type": "http",
        "scheme": "oauth2"
      }
    }
  },
  "security": [
    {
      "oauth2Auth": []
    }
  ],
  "tags": [
    {
      "name": "2 - Fluxo de consulta de informações > Contas"
    }
  ],
  "paths": {
    "/api/v1/users/{user_id}/accounts": {
      "get": {
        "tags": [
          "2 - Fluxo de consulta de informações > Contas"
        ],
        "summary": "Listagem de contas",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "{{user_id}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "1950"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"79e-Rl0wiDoe2z5w0MvMHKvlDTZn/nQ\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 09 Sep 2024 18:49:09 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "example": "291e5a29-49ed-401f-a583-193caa7acddd"
                          },
                          "authorisationServerId": {
                            "type": "string",
                            "example": "c8f0bf49-4744-4933-8960-7add6e590841"
                          },
                          "branchCode": {
                            "type": "string",
                            "example": "6272"
                          },
                          "brandName": {
                            "type": "string",
                            "example": "Sib Bank"
                          },
                          "checkDigit": {
                            "type": "string",
                            "example": "4"
                          },
                          "companyCnpj": {
                            "type": "string",
                            "example": "40156018000100"
                          },
                          "compeCode": {
                            "type": "string",
                            "example": "123"
                          },
                          "number": {
                            "type": "string",
                            "example": "11188222"
                          },
                          "organisationId": {
                            "type": "string",
                            "example": "74e929d9-33b6-4d85-8ba7-c146c867a817"
                          },
                          "type": {
                            "type": "string",
                            "example": "CONTA_POUPANCA",
                            "description": ""
                          },
                          "updatedAt": {
                            "type": "string",
                            "example": "2024-09-09T18:00:46.349Z",
                            "format": "date-time"
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "compeCode": {
                                "type": "string",
                                "example": "123"
                              },
                              "branchCode": {
                                "type": "string",
                                "example": "6272"
                              },
                              "number": {
                                "type": "string",
                                "example": "11188222"
                              },
                              "checkDigit": {
                                "type": "string",
                                "example": "4"
                              },
                              "type": {
                                "type": "string",
                                "example": "CONTA_POUPANCA"
                              },
                              "subtype": {
                                "type": "string",
                                "example": "INDIVIDUAL",
                                "description": ""
                              },
                              "currency": {
                                "type": "string",
                                "example": "BRL"
                              }
                            }
                          },
                          "balance": {
                            "type": "object",
                            "properties": {
                              "availableAmount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "41233.07"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "BRL"
                                  }
                                }
                              },
                              "blockedAmount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "999.99"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "BRL"
                                  }
                                }
                              },
                              "automaticallyInvestedAmount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "15000.00"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "BRL"
                                  }
                                }
                              },
                              "updateDateTime": {
                                "type": "string",
                                "example": "2024-09-09T10:53:52Z",
                                "format": "date-time"
                              }
                            }
                          },
                          "overdraftLimits": {
                            "type": "object",
                            "properties": {
                              "overdraftContractedLimit": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "99.9999"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "BRL"
                                  }
                                }
                              },
                              "overdraftUsedLimit": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "12345.40"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "BRL"
                                  }
                                }
                              },
                              "unarrangedOverdraftAmount": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "99.9999"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "BRL"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                          "authorisationServerId": "c8f0bf49-4744-4933-8960-7add6e590841",
                          "branchCode": "6272",
                          "brandName": "Sib Bank",
                          "checkDigit": "4",
                          "companyCnpj": "40156018000100",
                          "compeCode": "123",
                          "number": "11188222",
                          "organisationId": "74e929d9-33b6-4d85-8ba7-c146c867a817",
                          "type": "CONTA_POUPANCA",
                          "updatedAt": "2024-09-09T18:00:46.349Z",
                          "details": {
                            "compeCode": "123",
                            "branchCode": "6272",
                            "number": "11188222",
                            "checkDigit": "4",
                            "type": "CONTA_POUPANCA",
                            "subtype": "INDIVIDUAL",
                            "currency": "BRL"
                          },
                          "balance": {
                            "availableAmount": {
                              "amount": "41233.07",
                              "currency": "BRL"
                            },
                            "blockedAmount": {
                              "amount": "999.99",
                              "currency": "BRL"
                            },
                            "automaticallyInvestedAmount": {
                              "amount": "15000.00",
                              "currency": "BRL"
                            },
                            "updateDateTime": "2024-09-09T10:53:52Z"
                          },
                          "overdraftLimits": {
                            "overdraftContractedLimit": {
                              "amount": "99.9999",
                              "currency": "BRL"
                            },
                            "overdraftUsedLimit": {
                              "amount": "12345.40",
                              "currency": "BRL"
                            },
                            "unarrangedOverdraftAmount": {
                              "amount": "99.9999",
                              "currency": "BRL"
                            }
                          }
                        },
                        {
                          "accountId": "291e5a29-49ed-401f-a583-193caa7aceee",
                          "authorisationServerId": "c8f0bf49-4744-4933-8960-7add6e590841",
                          "branchCode": "6272",
                          "brandName": "Sib Bank",
                          "checkDigit": "4",
                          "companyCnpj": "40156018000100",
                          "compeCode": "123",
                          "number": "94088392",
                          "organisationId": "74e929d9-33b6-4d85-8ba7-c146c867a817",
                          "type": "CONTA_DEPOSITO_A_VISTA",
                          "updatedAt": "2024-09-09T18:00:50.299Z",
                          "details": {
                            "compeCode": "123",
                            "branchCode": "6272",
                            "number": "94088392",
                            "checkDigit": "4",
                            "type": "CONTA_DEPOSITO_A_VISTA",
                            "subtype": "INDIVIDUAL",
                            "currency": "BRL"
                          },
                          "balance": {
                            "availableAmount": {
                              "amount": "100000000.04",
                              "currency": "BRL"
                            },
                            "blockedAmount": {
                              "amount": "12345.0001",
                              "currency": "BRL"
                            },
                            "automaticallyInvestedAmount": {
                              "amount": "15000.00",
                              "currency": "BRL"
                            },
                            "updateDateTime": "2024-09-09T16:47:45Z"
                          },
                          "overdraftLimits": {
                            "overdraftContractedLimit": {
                              "amount": "99.9999",
                              "currency": "BRL"
                            },
                            "overdraftUsedLimit": {
                              "amount": "10000.9999",
                              "currency": "BRL"
                            },
                            "unarrangedOverdraftAmount": {
                              "amount": "99.9999",
                              "currency": "BRL"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true
  }
}