openapi: 3.0.3
info:
  title: DataLink API
  version: 1.0.0
  description: >
    A DataLink API fornece acesso estruturado a dados financeiros via Open
    Finance Brasil.
servers:
  - url: https://api.datalink.com.br/v1
    description: Produção
  - url: https://sandbox.datalink.com.br/v1
    description: Sandbox
security:
  - bearerAuth: []
x-tagGroups:
  - name: Dados | Recursos Principais
    tags:
      - Passo a passo para realizar um consentimento
      - Conexão Widget
      - Consentimento
      - Usuários
      - Webhooks de Notificação
      - Configuração de Webhooks
      - Eventos de Webhooks
      - Métricas
  - name: Dados | Aggregation API
    tags:
      - Dados Cadastrais
      - Contas
      - Cartões de Crédito
      - Contratos de Crédito
      - Investimentos
  - name: Dados | Intelligence API
    tags:
      - Intelligence API
      - Movimentações Mensais
      - Categorização de Gastos
      - Recomendações Personalizadas
  - name: Dados | Credit Signals API
    tags:
      - Credit Signals API
tags:
  - name: Passo a passo para realizar um consentimento
    description: Guia de integração do fluxo de consentimento Open Finance.
  - name: Conexão Widget
    description: Integração via widget embarcado para o fluxo de consentimento.
  - name: Consentimento
    description: Gerenciamento do ciclo de vida do consentimento Open Finance.
  - name: Usuários
    description: Listagem de usuários e seus consentimentos vinculados.
  - name: Webhooks de Notificação
    description: Gerenciamento de canais de notificação via webhook.
  - name: Configuração de Webhooks
    description: Criação, atualização e remoção de webhooks.
  - name: Eventos de Webhooks
    description: Consulta e reenvio de eventos de webhook.
  - name: Métricas
    description: Métricas de uso da plataforma.
  - name: Dados Cadastrais
    description: Dados cadastrais de pessoas físicas e jurídicas.
  - name: Contas
    description: Listagem e transações de contas bancárias.
  - name: Cartões de Crédito
    description: Cartões, transações e faturas.
  - name: Contratos de Crédito
    description: Contratos de crédito e pagamentos.
  - name: Investimentos
    description: Carteira de investimentos e movimentações.
  - name: Intelligence API
    description: Sinais de inteligência financeira derivados dos dados Open Finance.
  - name: Movimentações Mensais
    description: Resumos mensais de movimentações em cartões, contas e investimentos.
  - name: Categorização de Gastos
    description: Categorização e composição dos gastos por tipo de produto.
  - name: Recomendações Personalizadas
    description: Recomendações financeiras personalizadas baseadas no perfil do usuário.
  - name: Credit Signals API
    description: Análise financeira avançada para decisões de crédito e risco.
paths:
  /api/v1/organisations:
    get:
      tags:
        - Consentimento
      summary: Instituições participantes
      description: >
        Retorna a lista de instituições financeiras participantes do Open
        Finance Brasil disponíveis para iniciar um fluxo de consentimento. Cada
        instituição pode conter um ou mais servidores de autorização
        (AuthorisationServers), com informações de branding, discovery OpenID e
        os recursos de API disponíveis.
      operationId: listInstitutions
      parameters: []
      responses:
        '200':
          description: Lista de instituições retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de instituições participantes.
                    items:
                      $ref: '#/components/schemas/Organisation'
              example:
                data:
                  - OrganisationName: BCO BMG S.A.
                    OrganisationId: 4ae2cefb-e3c1-5624-9448-b3aa4777c539
                    LegalEntityName: BANCO BMG S.A.
                    RegistrationNumber: '61186680000174'
                    ParentOrganisationReference: ''
                    AuthorisationServers:
                      - AuthorisationServerId: e70bc5a2-9b70-40f1-a3bb-7e6f41695c52
                        CustomerFriendlyName: BANCO BMG
                        CustomerFriendlyDescription: Auth Server SBX
                        CustomerFriendlyLogoUri: >-
                          https://www.bancobmg.com.br/lumis-theme/br/com/bmg/portal/theme/bmg-portal/img/logo.svg
                        OpenIDDiscoveryDocument: >-
                          https://api-openfinance-dev.bancobmg.com.br/of-auth/realms/bmg-sbx/.well-known/openid-configuration
                        Flags:
                          Suporta Contas PF:
                            - Suporta Contas PF
                          Suporta Contas PJ:
                            - Suporta Contas PJ
                        ApiResources:
                          - ApiFamilyType: consents
                            ApiVersion: 3.3.0
                            ApiDiscoveryEndpoints:
                              - >-
                                https://api-openfinance-dev-m.bancobmg.com.br/open-banking/consents/v3/consents
                              - >-
                                https://api-openfinance-dev-m.bancobmg.com.br/open-banking/consents/v3/consents/{consentId}
                            Status: Active
                          - ApiFamilyType: accounts
                            ApiVersion: 2.4.2
                            ApiDiscoveryEndpoints:
                              - >-
                                https://api-openfinance-dev-m.bancobmg.com.br/open-banking/accounts/v2/accounts
                              - >-
                                https://api-openfinance-dev-m.bancobmg.com.br/open-banking/accounts/v2/accounts/{accountId}/transactions
                            Status: Active
  /api/v1/consents:
    post:
      tags:
        - Consentimento
      summary: Criar consentimento
      description: >
        Inicia o fluxo de criação de um consentimento Open Finance para um
        usuário final (pessoa física ou jurídica). Retorna uma URL de
        redirecionamento para que o usuário autorize o acesso aos dados na
        instituição financeira selecionada.
      operationId: createConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsentRequest'
            examples:
              pessoa_fisica:
                summary: Pessoa Física (PF)
                value:
                  organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                  authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
                  consent:
                    loggedUser:
                      cpf: '12345678909'
                    permissions:
                      - RESOURCES_READ
                      - CUSTOMERS_PERSONAL_IDENTIFICATIONS_READ
                      - CUSTOMERS_PERSONAL_ADITTIONALINFO_READ
                      - ACCOUNTS_READ
                      - ACCOUNTS_BALANCES_READ
                      - ACCOUNTS_OVERDRAFT_LIMITS_READ
                      - ACCOUNTS_TRANSACTIONS_READ
                      - CREDIT_CARDS_ACCOUNTS_READ
                      - CREDIT_CARDS_ACCOUNTS_LIMITS_READ
                      - CREDIT_CARDS_ACCOUNTS_TRANSACTIONS_READ
                      - CREDIT_CARDS_ACCOUNTS_BILLS_READ
                      - CREDIT_CARDS_ACCOUNTS_BILLS_TRANSACTIONS_READ
                      - LOANS_READ
                      - LOANS_WARRANTIES_READ
                      - LOANS_SCHEDULED_INSTALMENTS_READ
                      - LOANS_PAYMENTS_READ
                      - BANK_FIXED_INCOMES_READ
                      - FUNDS_READ
                      - VARIABLE_INCOMES_READ
                      - TREASURE_TITLES_READ
              pessoa_juridica:
                summary: Pessoa Jurídica (PJ)
                value:
                  organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                  authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
                  consent:
                    loggedUser:
                      cnpj: '11222333000181'
                    permissions:
                      - RESOURCES_READ
                      - CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ
                      - CUSTOMERS_BUSINESS_ADITTIONALINFO_READ
                      - ACCOUNTS_READ
                      - ACCOUNTS_BALANCES_READ
                      - ACCOUNTS_TRANSACTIONS_READ
      responses:
        '200':
          description: Consentimento criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
              example:
                consentId: >-
                  urn:datalink:74e929d9-33b6-4d85-8ba7-c146c867a817:3fa85f64-5717-4562-b3fc-2c963f66afa6
                status: AWAITING_AUTHORISATION
                redirectUrl: >-
                  https://auth.bancobmg.com.br/of-auth/realms/bmg/protocol/openid-connect/auth?client_id=datalink&redirect_uri=https%3A%2F%2Fcallback.datalink.com.br&response_type=code&scope=openid
                creationDateTime: '2026-05-20T10:30:00Z'
                expirationDateTime: '2026-05-20T10:45:00Z'
                permissions:
                  - RESOURCES_READ
                  - CUSTOMERS_PERSONAL_IDENTIFICATIONS_READ
                  - ACCOUNTS_READ
                  - ACCOUNTS_BALANCES_READ
                  - ACCOUNTS_TRANSACTIONS_READ
        '400':
          description: >-
            Requisição inválida. Verifique os campos obrigatórios e o formato
            dos dados.
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '422':
          description: >-
            Entidade não processável. A instituição ou servidor de autorização
            informado não foi encontrado.
    get:
      tags:
        - Consentimento
      summary: Listar todos os consentimentos
      description: >
        Retorna todos os consentimentos criados pela organização, com suporte a
        filtros por status e busca por CPF/CNPJ, além de paginação e ordenação.
      operationId: listConsents
      parameters:
        - name: page
          in: query
          required: false
          description: Número da página para paginação dos resultados.
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          description: Quantidade de registros retornados por página.
          schema:
            type: integer
            example: 20
        - name: sortBy
          in: query
          required: false
          description: Campo utilizado para ordenação dos resultados.
          schema:
            type: string
            example: creationDateTime
        - name: sortOrder
          in: query
          required: false
          description: Direção da ordenação dos resultados.
          schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
        - name: status
          in: query
          required: false
          description: Filtra os consentimentos pelo status atual.
          schema:
            type: string
            enum:
              - AUTHORISED
              - AWAITING_AUTHORISATION
              - REJECTED
              - REVOKED
            example: AUTHORISED
        - name: search
          in: query
          required: false
          description: >
            Busca por documento do usuário. Aceita CPF (11 dígitos) ou CNPJ (14
            dígitos), somente números.
          schema:
            type: string
            pattern: ^(\d{11}|\d{14})$
            example: '12345678909'
      responses:
        '200':
          description: Lista de consentimentos retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentListResponse'
              example:
                data:
                  - consentId: >-
                      urn:datalink:74e929d9-33b6-4d85-8ba7-c146c867a817:3fa85f64-5717-4562-b3fc-2c963f66afa6
                    status: AUTHORISED
                    creationDateTime: '2026-05-18T09:00:00Z'
                    expirationDateTime: '2027-05-18T09:00:00Z'
                    permissions:
                      - RESOURCES_READ
                      - ACCOUNTS_READ
                      - ACCOUNTS_BALANCES_READ
                      - ACCOUNTS_TRANSACTIONS_READ
                    loggedUser:
                      cpf: '12345678909'
                  - consentId: >-
                      urn:datalink:74e929d9-33b6-4d85-8ba7-c146c867a817:7cb12a30-1234-4abc-a001-9f3e2d1c4b5a
                    status: AWAITING_AUTHORISATION
                    creationDateTime: '2026-05-20T10:30:00Z'
                    expirationDateTime: '2026-05-20T10:45:00Z'
                    permissions:
                      - RESOURCES_READ
                      - CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ
                      - ACCOUNTS_READ
                    loggedUser:
                      cnpj: '11222333000181'
                pagination:
                  page: 1
                  limit: 20
                  total: 2
                  totalPages: 1
        '401':
          description: Não autorizado. Token ausente ou inválido.
  /api/v1/users/{user_id}/consents/{consent_id}:
    get:
      tags:
        - Consentimento
      summary: Recuperar consentimento
      description: >
        Retorna os detalhes completos de um consentimento específico vinculado a
        um usuário, incluindo status atual, permissões concedidas e, quando
        aplicável, informações de rejeição.
      operationId: getConsent
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: consent_id
          in: path
          required: true
          description: >
            Identificador único do consentimento no formato URN, conforme RFC
            8141.
          schema:
            type: string
            pattern: >-
              ^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*'%\/?#]+$
            example: urn:raidiambank:23f1a40c-6c9e-4c76-998c-d33d7c546818
      responses:
        '200':
          description: Consentimento retornado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserConsent'
              example:
                data:
                  userId: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
                  consentId: urn:raidiambank:23f1a40c-6c9e-4c76-998c-d33d7c546818
                  creationDateTime: '2025-02-14T11:28:11Z'
                  status: REJECTED
                  statusUpdateDateTime: '2025-02-14T11:29:41Z'
                  permissions:
                    - RESOURCES_READ
                    - ACCOUNTS_READ
                    - ACCOUNTS_BALANCES_READ
                    - ACCOUNTS_TRANSACTIONS_READ
                  expirationDateTime: '2027-02-14T11:28:11Z'
                  organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                  authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
                  rejection:
                    rejectedBy: USER
                    reason:
                      code: CUSTOMER_MANUALLY_REVOKED
                      additionalInformation: Tempo de confirmação da múltipla alçada excedido.
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Consentimento não encontrado para o usuário informado.
    delete:
      tags:
        - Consentimento
      summary: Revogar consentimento
      description: >
        Revoga um consentimento ativo, encerrando imediatamente o acesso aos
        dados do usuário pela plataforma DataLink.
      operationId: revokeConsent
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: consent_id
          in: path
          required: true
          description: >-
            Identificador único do consentimento no formato URN, conforme RFC
            8141.
          schema:
            type: string
            example: urn:raidiambank:23f1a40c-6c9e-4c76-998c-d33d7c546818
      responses:
        '200':
          description: Consentimento revogado com sucesso.
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Consentimento não encontrado para o usuário informado.
  /users:
    get:
      tags:
        - Usuários
      summary: Listar todos os usuários
      description: ''
      operationId: listUsers
      parameters: []
      responses:
        '200':
          description: ''
  /api/v1/users/{user_id}/consents:
    get:
      tags:
        - Usuários
      summary: Listar todos os consentimentos de usuário
      description: >
        Retorna todos os consentimentos vinculados a um usuário específico,
        incluindo o status atual, permissões concedidas e, quando aplicável, os
        detalhes de rejeição conforme especificação Open Finance Brasil.
      operationId: listUserConsents
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Lista de consentimentos do usuário retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de consentimentos do usuário.
                    items:
                      $ref: '#/components/schemas/UserConsent'
              example:
                data:
                  - userId: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
                    consentId: urn:raidiambank:23f1a40c-6c9e-4c76-998c-d33d7c546818
                    creationDateTime: '2025-02-14T11:28:11Z'
                    status: REJECTED
                    statusUpdateDateTime: '2025-02-14T11:29:41Z'
                    permissions:
                      - RESOURCES_READ
                      - ACCOUNTS_READ
                    organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                    authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
                    rejection:
                      rejectedBy: USER
                      reason:
                        code: CUSTOMER_MANUALLY_REVOKED
                  - userId: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
                    consentId: urn:raidiambank:2d076b0d-7b01-4822-9147-9303120eb1d3
                    creationDateTime: '2025-02-10T20:06:44Z'
                    status: AUTHORISED
                    statusUpdateDateTime: '2025-02-10T20:07:23Z'
                    permissions:
                      - RESOURCES_READ
                      - ACCOUNTS_READ
                      - ACCOUNTS_BALANCES_READ
                      - ACCOUNTS_TRANSACTIONS_READ
                    organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                    authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/notification/{tenant_id}:
    get:
      tags:
        - Webhooks de Notificação
      summary: Buscar canais
      description: >
        Retorna os canais de notificação configurados para o tenant, incluindo
        webhooks, Slack, e-mail e SMS.
      operationId: getNotificationChannels
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: alex-teste
      responses:
        '200':
          description: Canais de notificação retornados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelsResponse'
              examples:
                OK:
                  summary: OK
                  value:
                    tenantId: tenant_id
                    channels:
                      - type: webhook
                        value: exemplo
                        enable: true
                        secret: null
                      - type: slack
                        value: exemploURL2
                        enable: true
                      - type: email
                        value: exemploEmail2
                        enable: true
                      - type: sms
                        value: '551234567'
                        enable: true
                    createdAt: '2025-03-20T19:22:17.646Z'
                    updatedAt: '2025-03-20T20:12:11.715Z'
        '401':
          description: Não autorizado. Token ausente ou inválido.
    post:
      tags:
        - Webhooks de Notificação
      summary: Criar canais
      description: |
        Cria a configuração inicial de canais de notificação para um tenant.
      operationId: createNotificationChannel
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: alex-teste
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannelsRequest'
      responses:
        '200':
          description: Canais criados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelsResponse'
        '400':
          description: Requisição inválida.
        '401':
          description: Não autorizado. Token ausente ou inválido.
    patch:
      tags:
        - Webhooks de Notificação
      summary: Atualizar canais
      description: >
        Atualiza os canais de notificação de um tenant. Permite adicionar,
        alterar ou desabilitar canais existentes.
      operationId: updateNotificationChannel
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: alex-teste
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannelsRequest'
            examples:
              New Example:
                summary: Atualizar múltiplos canais
                value:
                  tenantId: alex-teste
                  channels:
                    - type: webhook
                      value: exemplo
                      enable: true
                      secret: null
                    - type: slack
                      value: exemploURL2
                      enable: true
                    - type: email
                      value: exemploEmail2
                      enable: true
                    - type: sms
                      value: '551234567'
                      enable: true
      responses:
        '200':
          description: Canais atualizados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelsResponse'
              examples:
                OK:
                  summary: OK
                  value:
                    tenantId: tenant_id
                    channels:
                      - type: webhook
                        value: exemplo
                        enable: true
                        secret: null
                      - type: slack
                        value: exemploURL2
                        enable: true
                      - type: email
                        value: exemploEmail2
                        enable: true
                      - type: sms
                        value: '551234567'
                        enable: true
                    createdAt: '2025-03-20T19:22:17.646Z'
                    updatedAt: '2025-03-20T20:12:11.715Z'
        '401':
          description: Não autorizado. Token ausente ou inválido.
  /api/v1/notification/{tenant_id}/webhooks:
    get:
      tags:
        - Configuração de Webhooks
      summary: Listar seus webhooks
      description: >
        Retorna todos os webhooks configurados para o tenant, incluindo status,
        secret e histórico de falhas consecutivas.
      operationId: listWebhooks
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: go-assets
      responses:
        '200':
          description: Webhooks retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookConfig'
              examples:
                OK:
                  summary: OK
                  value:
                    webhooks:
                      - clientId: go-assets-prod
                        value: https://prod.empresa.com/webhooks/lina
                        enable: true
                        secret: 88bccb89-0674-4e2e-a4f7-2ea2bf3fb2e2
                        consecutiveFailures: 0
                      - clientId: go-assets-hml
                        value: https://hml.empresa.com/webhooks/lina
                        enable: false
                        secret: aad157c8-0111-470a-94df-e86b6afa282b
                        consecutiveFailures: 0
        '401':
          description: Não autorizado. Token ausente ou inválido.
  /api/v1/notification/{tenant_id}/webhooks/{client_id}:
    put:
      tags:
        - Configuração de Webhooks
      summary: Criar ou atualizar webhook
      description: >
        Cria um novo webhook ou atualiza o endpoint de um webhook existente para
        o `client_id` informado.
      operationId: upsertWebhook
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: go-assets
        - name: client_id
          in: path
          required: true
          description: Client ID Keycloak associado ao webhook.
          schema:
            type: string
            example: go-assets-prod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpsertRequest'
            examples:
              Request Example:
                summary: Criar ou atualizar webhook
                value:
                  value: https://prod.empresa.com/webhooks/lina
                  enable: true
      responses:
        '200':
          description: Webhook criado ou atualizado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Webhook updated
              examples:
                OK:
                  summary: OK
                  value:
                    message: Webhook updated
        '400':
          description: Body inválido.
          content:
            application/json:
              example:
                message: Body inválido
        '401':
          description: Não autorizado. Token ausente ou inválido.
    delete:
      tags:
        - Configuração de Webhooks
      summary: Remover webhook
      description: |
        Remove permanentemente o webhook associado ao `client_id` informado.
      operationId: deleteWebhook
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: go-assets
        - name: client_id
          in: path
          required: true
          description: Client ID Keycloak associado ao webhook.
          schema:
            type: string
            example: go-assets-prod
      responses:
        '204':
          description: Webhook removido com sucesso. Sem conteúdo na resposta.
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Webhook não encontrado.
  /api/v1/notification/{tenant_id}/webhooks/{client_id}/rotate-secret:
    post:
      tags:
        - Configuração de Webhooks
      summary: Rotacionar secret do webhook
      description: >
        Gera um novo secret para o webhook. O secret anterior permanece válido
        por 24 horas para garantir a transição sem interrupção na verificação de
        assinatura `X-Lina-Signature`.
      operationId: rotateWebhookSecret
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Identificador único do tenant na plataforma.
          schema:
            type: string
            example: go-assets
        - name: client_id
          in: path
          required: true
          description: Client ID Keycloak associado ao webhook.
          schema:
            type: string
            example: go-assets-prod
      responses:
        '200':
          description: Secret rotacionado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: >-
                      Novo secret gerado para validação da assinatura
                      X-Lina-Signature.
                    example: >-
                      whsec_a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1
              examples:
                OK:
                  summary: OK
                  value:
                    secret: >-
                      whsec_a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Tenant ou clientId não encontrado.
          content:
            application/json:
              example:
                message: Tenant ou clientId não encontrado
  /api/v1/webhook-events:
    get:
      tags:
        - Eventos de Webhooks
      summary: Listar eventos
      description: >
        Retorna todos os eventos de webhook da organização com suporte a filtros
        por tipo, status e período, além de paginação.
      operationId: listWebhookEvents
      parameters:
        - name: type
          in: query
          required: false
          description: Filtrar por tipo de evento.
          schema:
            type: string
            example: account.balance.updated
        - name: status
          in: query
          required: false
          description: Filtrar por status do evento.
          schema:
            type: string
            enum:
              - pending
              - delivered
              - failed
              - endpoint_disabled
            example: delivered
        - name: from
          in: query
          required: false
          description: 'Data de início do filtro (ISO 8601, UTC). Ex: 2026-02-01T00:00:00Z'
          schema:
            type: string
            format: date-time
            example: '2026-02-01T00:00:00Z'
        - name: to
          in: query
          required: false
          description: Data de fim do filtro (ISO 8601, UTC).
          schema:
            type: string
            format: date-time
            example: '2026-02-28T23:59:59Z'
        - name: page
          in: query
          required: false
          description: Número da página.
          schema:
            type: integer
            default: 1
            example: 1
        - name: limit
          in: query
          required: false
          description: Itens por página. Máximo 100.
          schema:
            type: integer
            default: 25
            example: 25
      responses:
        '200':
          description: Eventos retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookEvent'
                  meta:
                    $ref: '#/components/schemas/WebhookEventsMeta'
              examples:
                OK:
                  summary: OK
                  value:
                    data:
                      - _id: evt_019c9f741f617007ba5ad5ef22f6b47b
                        type: account.balance.updated
                        tenantId: go-assets
                        clientId: go-assets-prod
                        created: 1772201713
                        apiVersion: '2025-02-01'
                        status: delivered
                        endpoint: https://prod.empresa.com/webhooks/lina
                        attempts:
                          - number: 1
                            at: '2026-02-27T14:15:13Z'
                            statusCode: 200
                            responseBody: OK
                            durationMs: 12
                        nextRetryAt: null
                        createdAt: '2026-02-27T14:15:13.502Z'
                        updatedAt: '2026-02-27T14:15:13Z'
                        expiresAt: '2026-03-29T14:15:13.502Z'
                    meta:
                      total: 42
                      page: 1
                      limit: 25
        '401':
          description: Não autorizado. Token ausente ou inválido.
  /api/v1/webhook-events/{event_id}:
    get:
      tags:
        - Eventos de Webhooks
      summary: Buscar eventos
      description: >
        Retorna os detalhes completos de um evento específico, incluindo todas
        as tentativas de entrega com seus respectivos status codes e tempos de
        resposta.
      operationId: getWebhookEvent
      parameters:
        - name: event_id
          in: path
          required: true
          description: Identificador único do evento no formato `evt_`.
          schema:
            type: string
            example: evt_019c9f741f617007ba5ad5ef22f6b47b
      responses:
        '200':
          description: Evento retornado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookEventDetail'
              examples:
                OK:
                  summary: OK
                  value:
                    data:
                      _id: evt_019c9f741f617007ba5ad5ef22f6b47b
                      type: account.balance.updated
                      tenantId: go-assets
                      clientId: go-assets-prod
                      created: 1772201713
                      apiVersion: '2025-02-01'
                      payload: >-
                        {"id":"evt_019c9f74...","eventType":"account.balance.updated"}
                      status: delivered
                      endpoint: https://prod.empresa.com/webhooks/lina
                      attempts:
                        - number: 1
                          at: '2026-02-27T14:15:13Z'
                          statusCode: 500
                          responseBody: Internal Server Error
                          durationMs: 3200
                        - number: 2
                          at: '2026-02-27T14:16:13Z'
                          statusCode: 200
                          responseBody: OK
                          durationMs: 145
                      nextRetryAt: null
                      createdAt: '2026-02-27T14:15:13.502Z'
                      updatedAt: '2026-02-27T14:16:13Z'
                      expiresAt: '2026-03-29T14:15:13.502Z'
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Evento não encontrado ou pertence a outro tenant.
          content:
            application/json:
              example:
                message: Evento não encontrado ou pertence a outro tenant
  /api/v1/webhook-events/{event_id}/retry:
    post:
      tags:
        - Eventos de Webhooks
      summary: Reenviar evento manualmente
      description: >
        Enfileira manualmente um evento para reenvio ao endpoint configurado. Só
        é possível reenviar eventos com status `failed` ou `pending`.
      operationId: resendWebhookEvent
      parameters:
        - name: event_id
          in: path
          required: true
          description: Identificador único do evento no formato `evt_`.
          schema:
            type: string
            example: evt_019c9f741f617007ba5ad5ef22f6b47b
      responses:
        '202':
          description: Evento enfileirado para reenvio com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event queued for retry
                  eventId:
                    type: string
                    example: evt_019c9f741f617007ba5ad5ef22f6b47b
              examples:
                Accepted:
                  summary: Accepted
                  value:
                    message: Event queued for retry
                    eventId: evt_019c9f741f617007ba5ad5ef22f6b47b
        '400':
          description: Evento já entregue ou ID inválido.
          content:
            application/json:
              example:
                message: Evento já entregue ou ID inválido
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Evento não encontrado.
          content:
            application/json:
              example:
                message: Evento não encontrado
  /metrics/usage:
    get:
      tags:
        - Métricas
      summary: Métricas de uso
      description: ''
      operationId: getUsageMetrics
      parameters: []
      responses:
        '200':
          description: ''
  /api/v1/users/{user_id}/personal-data:
    get:
      tags:
        - Dados Cadastrais
      summary: Dados cadastrais de pessoa física
      description: >
        Retorna os dados cadastrais completos de pessoa natural (PF) do usuário,
        incluindo identificações, documentos, qualificações profissionais,
        relações financeiras e informações de contato.
      operationId: getPersonalData
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Dados cadastrais de pessoa física retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonalData'
              example:
                data:
                  - updateDateTime: '2024-09-09T18:00:00Z'
                    personalId: 578-psd-71md6971kjh-2d414
                    brandName: Sib Bank
                    civilName: Juan Kaique Cláudio Fernandes
                    socialName: Jaqueline de Freitas
                    birthDate: '1989-03-23'
                    maritalStatusCode: CASADO
                    sex: MASCULINO
                    hasBrazilianNationality: true
                    companiesCnpj:
                      - '40156018000100'
                    documents:
                      cpfNumber: '25872252137'
                    otherDocuments:
                      - type: CNH
                        number: '15291908'
                        checkDigit: P
                        additionalInfo: SSP/SP
                        expirationDate: '2028-05-21'
                    filiation:
                      - type: MAE
                        civilName: Maria Fernandes
                      - type: PAI
                        civilName: Marcelo Cláudio Fernandes
                    contacts:
                      postalAddresses:
                        - isMain: true
                          address: Av Naburo Ykesaki, 1270
                          additionalInfo: Fundos
                          districtName: Centro
                          townName: Marília
                          ibgeTownCode: '3550308'
                          countrySubDivision: SP
                          postCode: '17500001'
                          country: Brasil
                          countryCode: BRA
                      phones:
                        - isMain: true
                          type: MOVEL
                          areaCode: '11'
                          number: '99875132'
                          countryCallingCode: '55'
                      emails:
                        - isMain: true
                          email: juan.fernandes@email.com
                    qualifications:
                      updateDateTime: '2024-09-09T18:00:00Z'
                      companyCnpj: '40156018000100'
                      occupationCode: RECEITA_FEDERAL
                      occupationDescription: '211110'
                      informedIncome:
                        frequency: MENSAL
                        amount:
                          amount: '8500.00'
                          currency: BRL
                    financialRelations:
                      procurators: []
                      accounts:
                        - compeCode: '123'
                          branchCode: '6272'
                          number: '11188222'
                          checkDigit: '4'
                          type: CONTA_DEPOSITO_A_VISTA
                          subtype: INDIVIDUAL
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /aggregation/{consentId}/business-data:
    get:
      tags:
        - Dados Cadastrais
      summary: Dados cadastrais de pessoa jurídica
      description: ''
      operationId: getBusinessData
      parameters:
        - name: consentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
  /api/v1/users/{user_id}/accounts:
    get:
      tags:
        - Contas
      summary: Listar contas
      description: >
        Retorna a lista de contas depósito à vista, poupança e pagamento
        pré-pagas mantidas pelo usuário nas instituições financeiras autorizadas
        via consentimento Open Finance.
      operationId: listAccounts
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Lista de contas retornada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de contas do usuário.
                    items:
                      $ref: '#/components/schemas/Account'
              example:
                data:
                  - accountId: 291e5a29-49ed-401f-a583-193caa7acddd
                    authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
                    branchCode: '6272'
                    brandName: Sib Bank
                    checkDigit: '4'
                    companyCnpj: '40156018000100'
                    compeCode: '123'
                    number: '11188222'
                    organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                    type: CONTA_POUPANCA
                    updatedAt: '2024-09-09T18:00:46.349Z'
                    details:
                      compeCode: '123'
                      branchCode: '6272'
                      number: '11188222'
                      checkDigit: '4'
                      type: CONTA_POUPANCA
                      subtype: INDIVIDUAL
                      currency: BRL
                    balance:
                      availableAmount:
                        amount: '41233.07'
                        currency: BRL
                      blockedAmount:
                        amount: '999.99'
                        currency: BRL
                      automaticallyInvestedAmount:
                        amount: '15000.00'
                        currency: BRL
                      updateDateTime: '2024-09-09T10:53:52Z'
                    overdraftLimits:
                      overdraftContractedLimit:
                        amount: '99.9999'
                        currency: BRL
                      overdraftUsedLimit:
                        amount: '12345.40'
                        currency: BRL
                      unarrangedOverdraftAmount:
                        amount: '99.9999'
                        currency: BRL
                  - accountId: 291e5a29-49ed-401f-a583-193caa7aceee
                    authorisationServerId: c8f0bf49-4744-4933-8960-7add6e590841
                    branchCode: '6272'
                    brandName: Sib Bank
                    checkDigit: '4'
                    companyCnpj: '40156018000100'
                    compeCode: '123'
                    number: '94088392'
                    organisationId: 74e929d9-33b6-4d85-8ba7-c146c867a817
                    type: CONTA_DEPOSITO_A_VISTA
                    updatedAt: '2024-09-09T18:00:50.299Z'
                    details:
                      compeCode: '123'
                      branchCode: '6272'
                      number: '94088392'
                      checkDigit: '4'
                      type: CONTA_DEPOSITO_A_VISTA
                      subtype: INDIVIDUAL
                      currency: BRL
                    balance:
                      availableAmount:
                        amount: '100000000.04'
                        currency: BRL
                      blockedAmount:
                        amount: '12345.0001'
                        currency: BRL
                      automaticallyInvestedAmount:
                        amount: '15000.00'
                        currency: BRL
                      updateDateTime: '2024-09-09T16:47:45Z'
                    overdraftLimits:
                      overdraftContractedLimit:
                        amount: '99.9999'
                        currency: BRL
                      overdraftUsedLimit:
                        amount: '10000.9999'
                        currency: BRL
                      unarrangedOverdraftAmount:
                        amount: '99.9999'
                        currency: BRL
  /api/v1/users/{user_id}/accounts/{account_id}/transactions:
    get:
      tags:
        - Contas
      summary: Transações de contas
      description: >
        Retorna a lista de lançamentos referentes às transações realizadas e
        lançamentos futuros para contas de depósito à vista, poupança e
        pagamento pré-paga do usuário.
      operationId: getAccountTransactions
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: account_id
          in: path
          required: true
          description: Identificador único da conta.
          schema:
            type: string
            format: uuid
            example: 291e5a29-49ed-401f-a583-193caa7acddd
        - name: fromBookingDateTime
          in: query
          required: false
          description: Data e hora de início do filtro de transações (ISO 8601, UTC).
          schema:
            type: string
            format: date-time
            example: '2024-01-01T00:00:00Z'
        - name: toBookingDateTime
          in: query
          required: false
          description: Data e hora de fim do filtro de transações (ISO 8601, UTC).
          schema:
            type: string
            format: date-time
            example: '2024-12-31T23:59:59Z'
        - name: page
          in: query
          required: false
          description: Número da página.
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          description: Quantidade de registros por página.
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Transações retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de transações da conta.
                    items:
                      $ref: '#/components/schemas/AccountTransaction'
              example:
                data:
                  - transactionId: TXN-001-20240909
                    completedAuthorisedPaymentType: TRANSACAO_EFETIVADA
                    creditDebitType: CREDITO
                    transactionName: PIX RECEBIDO - JOAO SILVA
                    type: PIX
                    transactionAmount:
                      amount: '1500.00'
                      currency: BRL
                    transactionDateTime: '2024-09-09T10:30:00Z'
                    partieCnpjCpf: '12345678909'
                    partiePersonType: PESSOA_NATURAL
                    partieCompeCode: '341'
                    partieBranchCode: '1234'
                    partieNumber: '56789'
                    partieCheckDigit: '0'
                  - transactionId: TXN-002-20240909
                    completedAuthorisedPaymentType: TRANSACAO_EFETIVADA
                    creditDebitType: DEBITO
                    transactionName: BOLETO CONTA DE LUZ
                    type: BOLETO
                    transactionAmount:
                      amount: '234.50'
                      currency: BRL
                    transactionDateTime: '2024-09-09T14:15:00Z'
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Conta não encontrada para o usuário informado.
  /api/v1/users/{user_id}/credit-cards:
    get:
      tags:
        - Cartões de Crédito
      summary: Listar cartões
      description: >
        Retorna a lista de cartões de crédito (contas de pagamento pós-paga) do
        usuário, incluindo informações de produto, bandeira, fatura atual e
        limites.
      operationId: listCreditCards
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Cartões retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de cartões de crédito do usuário.
                    items:
                      $ref: '#/components/schemas/CreditCard'
              example:
                data:
                  - creditCardAccountId: 5a66d935-e8f0-4af4-a24c-9dfbfb6d2bd3
                    brandName: Sib Bank
                    companyCnpj: '40156018000100'
                    name: CARTAO PLATINUM SIB
                    productType: PLATINUM
                    creditCardNetwork: MASTERCARD
                    details:
                      name: CARTAO PLATINUM SIB
                      productType: PLATINUM
                      creditCardNetwork: MASTERCARD
                      paymentMethod:
                        - identificationNumber: '1234'
                          isMultipleCreditCard: false
                        - identificationNumber: '5678'
                          isMultipleCreditCard: true
                    bills:
                      billId: BILL-2024-09
                      dueDate: '2024-09-15'
                      billTotalAmount:
                        amount: '3250.75'
                        currency: BRL
                      billMinimumAmount:
                        amount: '162.54'
                        currency: BRL
                      isInstalment: false
                      financeCharges:
                        - type: JUROS_REMUNERATORIOS_ATRASO_PAGAMENTO_FATURA
                          amount: '45.00'
                          currency: BRL
                      payments:
                        - valueType: VALOR_PAGAMENTO_FATURA_REALIZADO
                          paymentDate: '2024-08-15'
                          paymentMode: DEBITO_CONTA_CORRENTE
                          amount: '2100.00'
                          currency: BRL
                    limits:
                      creditLineLimitType: LIMITE_CREDITO_TOTAL
                      consolidationType: CONSOLIDADO
                      identificationNumber: '1234'
                      lineName: CREDITO_A_VISTA
                      isLimitFlexible: false
                      limitAmount:
                        amount: '10000.00'
                        currency: BRL
                      usedAmount:
                        amount: '3250.75'
                        currency: BRL
                      availableAmount:
                        amount: '6749.25'
                        currency: BRL
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/credit-cards/{credit_card_account_id}/transactions:
    get:
      tags:
        - Cartões de Crédito
      summary: Transações de cartões
      description: >
        Retorna as transações do cartão de crédito do usuário. Apenas transações
        após conciliação são compartilhadas, garantindo a imutabilidade do
        `transactionId`.
      operationId: getCreditCardTransactions
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: credit_card_account_id
          in: path
          required: true
          description: Identificador único da conta de cartão de crédito.
          schema:
            type: string
            example: 5a66d935-e8f0-4af4-a24c-9dfbfb6d2bd3
        - name: fromTransactionDateTime
          in: query
          required: false
          description: Data e hora de início do filtro de transações (ISO 8601, UTC).
          schema:
            type: string
            format: date-time
            example: '2024-01-01T00:00:00Z'
        - name: toTransactionDateTime
          in: query
          required: false
          description: Data e hora de fim do filtro de transações (ISO 8601, UTC).
          schema:
            type: string
            format: date-time
            example: '2024-12-31T23:59:59Z'
        - name: page
          in: query
          required: false
          description: Número da página.
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          description: Quantidade de registros por página.
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Transações do cartão retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de transações do cartão de crédito.
                    items:
                      $ref: '#/components/schemas/CreditCardTransaction'
              example:
                data:
                  - transactionId: 65b65cee-0905-40ff-8a32-65741f436fb1
                    creditCardAccountId: 62726dba-e4b4-41b3-a6f2-68dca70df313
                    userId: 0e58fecb-5a34-4b2c-a1b2-d2f8626df017
                    amount:
                      amount: '100000.04'
                      currency: BRL
                    billId: cb92d13c-1253-426a-b0d8-d7dd7c089531
                    billPostDate: '2024-09-03'
                    brazilianAmount:
                      amount: '100000.04'
                      currency: BRL
                    chargeIdentificator: 1
                    chargeNumber: 3
                    creditDebitType: DEBITO
                    feeType: ANUIDADE
                    feeTypeAdditionalInfo: string
                    identificationNumber: '4454'
                    otherCreditsAdditionalInfo: string
                    otherCreditsType: CREDITO_ROTATIVO
                    payeeMCC: 5137
                    paymentType: A_VISTA
                    transactionDateTime: '2024-09-03T00:00:00.000Z'
                    transactionName: PGTO
                    transactionType: CASHBACK
                    transactionalAdditionalInfo: string
                  - transactionId: 2ef26b1e-f18d-47e6-b962-b3acffd05aae
                    creditCardAccountId: 62726dba-e4b4-41b3-a6f2-68dca70df313
                    userId: 0e58fecb-5a34-4b2c-a1b2-d2f8626df017
                    amount:
                      amount: '100000.04'
                      currency: BRL
                    billId: cb92d13c-1253-426a-b0d8-d7dd7c089531
                    billPostDate: '2024-09-03'
                    brazilianAmount:
                      amount: '100000.04'
                      currency: BRL
                    chargeIdentificator: 1
                    chargeNumber: 3
                    creditDebitType: DEBITO
                    feeType: ANUIDADE
                    feeTypeAdditionalInfo: string
                    identificationNumber: '4454'
                    otherCreditsAdditionalInfo: string
                    otherCreditsType: CREDITO_ROTATIVO
                    payeeMCC: 5137
                    paymentType: A_VISTA
                    transactionDateTime: '2024-09-03T00:00:00.000Z'
                    transactionName: PGTO
                    transactionType: CASHBACK
                    transactionalAdditionalInfo: string
                totalRecords: 2118
  /api/v1/users/{user_id}/credit-cards/{credit_card_account_id}/bills:
    get:
      tags:
        - Cartões de Crédito
      summary: Faturas do cartão
      description: >
        Retorna a lista de faturas do cartão de crédito do usuário, incluindo
        valor total, pagamento mínimo, encargos e pagamentos realizados em cada
        fatura.
      operationId: getCreditCardBills
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: credit_card_account_id
          in: path
          required: true
          description: Identificador único da conta de cartão de crédito.
          schema:
            type: string
            example: 5a66d935-e8f0-4af4-a24c-9dfbfb6d2bd3
        - name: fromDueDate
          in: query
          required: false
          description: Data de início do filtro pelo vencimento da fatura (YYYY-MM-DD).
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: toDueDate
          in: query
          required: false
          description: Data de fim do filtro pelo vencimento da fatura (YYYY-MM-DD).
          schema:
            type: string
            format: date
            example: '2024-12-31'
        - name: page
          in: query
          required: false
          description: Número da página.
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          description: Quantidade de registros por página.
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Faturas retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de faturas do cartão de crédito.
                    items:
                      $ref: '#/components/schemas/CreditCardBill'
              example:
                data:
                  - billId: BILL-2024-09
                    dueDate: '2024-09-15'
                    billTotalAmount:
                      amount: '3250.75'
                      currency: BRL
                    billMinimumAmount:
                      amount: '162.54'
                      currency: BRL
                    isInstalment: false
                    financeCharges:
                      - type: JUROS_REMUNERATORIOS_ATRASO_PAGAMENTO_FATURA
                        amount: '45.00'
                        currency: BRL
                    payments:
                      - valueType: VALOR_PAGAMENTO_FATURA_REALIZADO
                        paymentDate: '2024-08-15'
                        paymentMode: DEBITO_CONTA_CORRENTE
                        amount: '2100.00'
                        currency: BRL
                  - billId: BILL-2024-08
                    dueDate: '2024-08-15'
                    billTotalAmount:
                      amount: '1875.30'
                      currency: BRL
                    billMinimumAmount:
                      amount: '93.77'
                      currency: BRL
                    isInstalment: true
                    financeCharges: []
                    payments:
                      - valueType: VALOR_PAGAMENTO_FATURA_PARCELADO
                        paymentDate: '2024-07-20'
                        paymentMode: PIX
                        amount: '937.65'
                        currency: BRL
                      - valueType: OUTRO_VALOR_PAGO_FATURA
                        paymentDate: '2024-07-25'
                        paymentMode: BOLETO_BANCARIO
                        amount: '937.65'
                        currency: BRL
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Cartão não encontrado para o usuário informado.
  /api/v1/users/{user_id}/credit-cards/{credit_card_account_id}/bills/{bill_id}/transactions:
    get:
      tags:
        - Cartões de Crédito
      summary: Buscar transações na fatura
      description: >
        Retorna as transações de uma fatura específica do cartão de crédito do
        usuário. Apenas transações após conciliação são compartilhadas,
        garantindo a imutabilidade do `transactionId`.
      operationId: getBillTransactions
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: credit_card_account_id
          in: path
          required: true
          description: Identificador único da conta de cartão de crédito.
          schema:
            type: string
            example: 5a66d935-e8f0-4af4-a24c-9dfbfb6d2bd3
        - name: bill_id
          in: path
          required: true
          description: Identificador único da fatura.
          schema:
            type: string
            example: BILL-2024-09
        - name: page
          in: query
          required: false
          description: Número da página.
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          description: Quantidade de registros por página.
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Transações da fatura retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Lista de transações da fatura.
                    items:
                      $ref: '#/components/schemas/BillTransaction'
              example:
                data:
                  - transactionId: TXpRMU9UQTROMWhZV2xSU1FUazJSMDl
                    identificationNumber: '1234'
                    transactionName: COMPRA AMAZON.COM.BR
                    billId: BILL-2024-09
                    creditDebitType: DEBITO
                    transactionType: OUTROS
                    brazilianAmount:
                      amount: '299.9900'
                      currency: BRL
                    amount:
                      amount: '299.9900'
                      currency: BRL
                    transactionDateTime: '2024-09-05T14:22:03.000Z'
                    billPostDate: '2024-09-06'
                    payeeMCC: 5999
                  - transactionId: TXpSMlBUUTVOMWhZV2xSU1FUazJSMDk
                    identificationNumber: '1234'
                    transactionName: ANUIDADE CARTAO
                    creditDebitType: DEBITO
                    transactionType: TARIFA
                    feeType: ANUIDADE
                    brazilianAmount:
                      amount: '45.00'
                      currency: BRL
                    amount:
                      amount: '45.00'
                      currency: BRL
                    transactionDateTime: '2024-09-01T08:00:00.000Z'
                    billPostDate: '2024-09-01'
                  - transactionId: TXpTM1BUUTZOMWhZV2xTU1FUazJSMDk
                    identificationNumber: '1234'
                    transactionName: COMPRA PARCELADA VIAGEM 2/6
                    creditDebitType: DEBITO
                    transactionType: PAGAMENTO
                    paymentType: A_PRAZO
                    chargeIdentificator: 2
                    chargeNumber: 6
                    brazilianAmount:
                      amount: '500.0000'
                      currency: BRL
                    amount:
                      amount: '500.0000'
                      currency: BRL
                    transactionDateTime: '2024-08-15T10:00:00.000Z'
                    billPostDate: '2024-09-03'
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Fatura não encontrada para o cartão informado.
  /api/v1/users/{user_id}/credit-contracts/{credit_type}:
    get:
      tags:
        - Contratos de Crédito
      summary: Listar contratos
      description: >
        Retorna os contratos de crédito do usuário filtrados pelo tipo de
        produto (empréstimos, financiamentos, cheque especial ou antecipação de
        recebíveis).
      operationId: listCreditContracts
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: credit_type
          in: path
          required: true
          description: Tipo de produto de crédito a ser listado.
          schema:
            type: string
            enum:
              - LOANS
              - FINANCINGS
              - UNARRANGED_ACCOUNTS_OVERDRAFT
              - INVOICE_FINANCINGS
            example: LOANS
        - name: page
          in: query
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Contratos retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CreditContract'
              example:
                data:
                  - contractId: 92792126-7ee1-4a6b-a3f8-d4e2c1b5f9a0
                    brandName: Sib Bank
                    companyCnpj: '40156018000100'
                    productType: EMPRESTIMO_SEM_CONSIGNACAO_PRIVADO
                    productSubType: CREDITO_PESSOAL_SEM_CONSIGNACAO
                    contractDate: '2023-06-01'
                    contractAmount: '25000.00'
                    currency: BRL
                    dueDate: '2026-06-01'
                    instalmentPeriodicity: MENSAL
                    CET: 0.3215
                    amortizationScheduled: SAC
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/credit-contracts/{credit_type}/{contract_id}/payments:
    get:
      tags:
        - Contratos de Crédito
      summary: Pagamentos de contrato
      description: >
        Retorna os pagamentos realizados em um contrato de crédito específico,
        incluindo parcelas pagas e saldo devedor atualizado.
      operationId: getContractPayments
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: credit_type
          in: path
          required: true
          description: Tipo do produto de crédito.
          schema:
            type: string
            enum:
              - LOANS
              - FINANCINGS
              - UNARRANGED_ACCOUNTS_OVERDRAFT
              - INVOICE_FINANCINGS
            example: LOANS
        - name: contract_id
          in: path
          required: true
          description: Identificador único do contrato de crédito.
          schema:
            type: string
            format: uuid
            example: 92792126-7ee1-4a6b-a3f8-d4e2c1b5f9a0
      responses:
        '200':
          description: Pagamentos do contrato retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ContractPayments'
              example:
                data:
                  paidInstalments: 12
                  contractOutstandingBalance: '13500.00'
                  releasesList:
                    - paymentId: PAY-001-2024
                      isOverParcelPayment: false
                      instalmentId: '12'
                      paidDate: '2024-09-05'
                      currency: BRL
                      paidAmount: '1041.67'
                      overParcelFees: []
                      overParcelCharges: []
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Contrato não encontrado para o usuário informado.
  /api/v1/users/{user_id}/investments:
    get:
      tags:
        - Investimentos
      summary: Listar todos os investimentos
      description: >
        Retorna todos os investimentos consolidados do usuário em todas as
        instituições financeiras autorizadas via consentimento Open Finance.
      operationId: listInvestments
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Investimentos retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Investment'
              example:
                data:
                  - investmentId: INV-001-BFI
                    investmentType: BANK_FIXED_INCOMES
                    brandName: Sib Bank
                    companyCnpj: '40156018000100'
                    isinCode: BRSIBCDB10001
                    productName: CDB Prefixado 120%
                    updatedAt: '2024-09-09T18:00:00Z'
                  - investmentId: INV-002-TT
                    investmentType: TREASURE_TITLES
                    brandName: Sib Bank
                    companyCnpj: '40156018000100'
                    productName: Tesouro IPCA+ 2035
                    updatedAt: '2024-09-09T18:00:00Z'
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/investments/{investment_type}:
    get:
      tags:
        - Investimentos
      summary: Investimentos por tipo
      description: >
        Retorna os investimentos do usuário filtrados por tipo de produto
        financeiro, incluindo saldo atual e detalhes de cada posição.
      operationId: getInvestmentsByType
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: investment_type
          in: path
          required: true
          description: Tipo de produto de investimento.
          schema:
            type: string
            enum:
              - BANK_FIXED_INCOMES
              - CREDIT_FIXED_INCOMES
              - VARIABLE_INCOMES
              - TREASURE_TITLES
              - FUNDS
            example: BANK_FIXED_INCOMES
      responses:
        '200':
          description: Investimentos por tipo retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvestmentDetail'
              example:
                data:
                  - investmentId: INV-001-BFI
                    investmentType: BANK_FIXED_INCOMES
                    brandName: Sib Bank
                    companyCnpj: '40156018000100'
                    isinCode: BRSIBCDB10001
                    productName: CDB Prefixado 120%
                    quantity: '1.00'
                    updatedUnitPrice:
                      amount: '15234.50'
                      currency: BRL
                    grossAmount:
                      amount: '15234.50'
                      currency: BRL
                    netAmount:
                      amount: '13499.28'
                      currency: BRL
                    blockedBalance:
                      amount: '0.00'
                      currency: BRL
                    purchaseDate: '2022-09-01'
                    dueDate: '2025-09-01'
                    updatedAt: '2024-09-09T18:00:00Z'
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/investments/{investment_type}/transactions:
    get:
      tags:
        - Investimentos
      summary: Movimentações de investimento
      description: >
        Retorna as movimentações (aplicações e resgates) dos investimentos do
        usuário por tipo de produto financeiro.
      operationId: getInvestmentTransactions
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: investment_type
          in: path
          required: true
          description: Tipo de produto de investimento.
          schema:
            type: string
            enum:
              - BANK_FIXED_INCOMES
              - CREDIT_FIXED_INCOMES
              - VARIABLE_INCOMES
              - TREASURE_TITLES
              - FUNDS
            example: BANK_FIXED_INCOMES
        - name: fromTransactionDate
          in: query
          required: false
          description: Data de início do filtro (YYYY-MM-DD).
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: toTransactionDate
          in: query
          required: false
          description: Data de fim do filtro (YYYY-MM-DD).
          schema:
            type: string
            format: date
            example: '2024-12-31'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 25
      responses:
        '200':
          description: Movimentações de investimento retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvestmentTransaction'
              example:
                data:
                  - transactionId: TXN-INV-001
                    investmentId: INV-001-BFI
                    investmentType: BANK_FIXED_INCOMES
                    type: APLICACAO
                    transactionDate: '2024-09-05'
                    brokerNoteId: BRK-001
                    transactionGrossValue:
                      amount: '5000.00'
                      currency: BRL
                    incomeTax:
                      amount: '0.00'
                      currency: BRL
                    financialTransactionTax:
                      amount: '0.00'
                      currency: BRL
                    transactionNetValue:
                      amount: '5000.00'
                      currency: BRL
                    transactionQuantity: '0.328456'
                    transactionUnitPrice:
                      amount: '15234.50'
                      currency: BRL
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/income-inference:
    get:
      tags:
        - Intelligence API
      summary: Inferência de renda
      description: >
        Retorna a renda estimada do usuário com base na análise de padrões
        transacionais e recorrências identificadas via Open Finance.
      operationId: getIncomeInference
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Inferência de renda retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeInference'
              example:
                inferredIncome: 1771.52
                analyzedMonths: 24
                analyzedTransactions: 58794
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/recurring-expenses:
    get:
      tags:
        - Intelligence API
      summary: Despesas recorrentes
      description: >
        Retorna os padrões de despesas recorrentes identificados nas transações
        do usuário — salários, assinaturas, débitos automáticos e pagamentos
        regulares.
      operationId: getRecurringExpenses
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Despesas recorrentes retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecurringExpense'
              example:
                data:
                  - description: NETFLIX
                    amount:
                      amount: '55.90'
                      currency: BRL
                    frequency: MENSAL
                    category: ASSINATURA_STREAMING
                    lastOccurrence: '2024-09-01'
                    confidenceLevel: HIGH
                  - description: ACADEMIA SMART FIT
                    amount:
                      amount: '99.90'
                      currency: BRL
                    frequency: MENSAL
                    category: SAUDE_BEM_ESTAR
                    lastOccurrence: '2024-09-05'
                    confidenceLevel: HIGH
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/investments/portfolio/composition:
    get:
      tags:
        - Intelligence API
      summary: Composição de carteira de investimentos
      description: >
        Retorna a composição e diversificação da carteira de investimentos do
        usuário, agrupada por tipo de produto financeiro e percentual alocado.
      operationId: getPortfolioComposition
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
      responses:
        '200':
          description: Composição de carteira retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioComposition'
              example:
                totalBalance:
                  amount: '85000.00'
                  currency: BRL
                composition:
                  - investmentType: BANK_FIXED_INCOMES
                    balance:
                      amount: '45000.00'
                      currency: BRL
                    percentage: 52.94
                  - investmentType: TREASURE_TITLES
                    balance:
                      amount: '25000.00'
                      currency: BRL
                    percentage: 29.41
                  - investmentType: FUNDS
                    balance:
                      amount: '15000.00'
                      currency: BRL
                    percentage: 17.65
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/credit-cards-transactions/monthly-insights:
    get:
      tags:
        - Movimentações Mensais
      summary: Movimentações mensais de cartões
      description: >
        Retorna o resumo mensal das movimentações em cartões de crédito do
        usuário, incluindo total de gastos, créditos e variação em relação ao
        mês anterior.
      operationId: getMonthlyCardMovements
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: fromMonth
          in: query
          required: false
          description: Mês de início do filtro (YYYY-MM).
          schema:
            type: string
            example: 2024-01
        - name: toMonth
          in: query
          required: false
          description: Mês de fim do filtro (YYYY-MM).
          schema:
            type: string
            example: 2024-09
      responses:
        '200':
          description: Movimentações mensais de cartões retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonthlyMovement'
              example:
                data:
                  - referenceMonth: 2024-09
                    totalDebit:
                      amount: '3250.75'
                      currency: BRL
                    totalCredit:
                      amount: '150.00'
                      currency: BRL
                    netAmount:
                      amount: '3100.75'
                      currency: BRL
                    transactionCount: 28
                  - referenceMonth: 2024-08
                    totalDebit:
                      amount: '2890.30'
                      currency: BRL
                    totalCredit:
                      amount: '0.00'
                      currency: BRL
                    netAmount:
                      amount: '2890.30'
                      currency: BRL
                    transactionCount: 24
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/accounts-transactions/monthly-insights:
    get:
      tags:
        - Movimentações Mensais
      summary: Movimentações mensais de contas
      description: >
        Retorna o resumo mensal das movimentações em contas bancárias do
        usuário, incluindo entradas, saídas e saldo líquido por mês.
      operationId: getMonthlyAccountMovements
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: fromMonth
          in: query
          required: false
          description: Mês de início do filtro (YYYY-MM).
          schema:
            type: string
            example: 2024-01
        - name: toMonth
          in: query
          required: false
          description: Mês de fim do filtro (YYYY-MM).
          schema:
            type: string
            example: 2024-09
      responses:
        '200':
          description: Movimentações mensais de contas retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonthlyMovement'
              example:
                data:
                  - referenceMonth: 2024-09
                    totalDebit:
                      amount: '12500.00'
                      currency: BRL
                    totalCredit:
                      amount: '8500.00'
                      currency: BRL
                    netAmount:
                      amount: '-4000.00'
                      currency: BRL
                    transactionCount: 67
                  - referenceMonth: 2024-08
                    totalDebit:
                      amount: '11200.00'
                      currency: BRL
                    totalCredit:
                      amount: '8500.00'
                      currency: BRL
                    netAmount:
                      amount: '-2700.00'
                      currency: BRL
                    transactionCount: 59
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/investments/portfolio/transactions:
    get:
      tags:
        - Movimentações Mensais
      summary: Movimentações mensais de investimentos
      description: >
        Retorna o resumo mensal de aplicações e resgates de investimentos do
        usuário, incluindo rentabilidade e variação patrimonial por mês.
      operationId: getMonthlyInvestmentMovements
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: fromMonth
          in: query
          required: false
          description: Mês de início do filtro (YYYY-MM).
          schema:
            type: string
            example: 2024-01
        - name: toMonth
          in: query
          required: false
          description: Mês de fim do filtro (YYYY-MM).
          schema:
            type: string
            example: 2024-09
      responses:
        '200':
          description: Movimentações mensais de investimentos retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonthlyInvestmentMovement'
              example:
                data:
                  - referenceMonth: 2024-09
                    totalApplications:
                      amount: '5000.00'
                      currency: BRL
                    totalRedemptions:
                      amount: '0.00'
                      currency: BRL
                    netMovement:
                      amount: '5000.00'
                      currency: BRL
                    portfolioBalance:
                      amount: '85000.00'
                      currency: BRL
                  - referenceMonth: 2024-08
                    totalApplications:
                      amount: '2000.00'
                      currency: BRL
                    totalRedemptions:
                      amount: '1500.00'
                      currency: BRL
                    netMovement:
                      amount: '500.00'
                      currency: BRL
                    portfolioBalance:
                      amount: '80000.00'
                      currency: BRL
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /intelligence/{consentId}/spending-categorization/cards:
    get:
      tags:
        - Categorização de Gastos
      summary: Categorização de gastos de cartão
      description: ''
      operationId: getCardSpendingCategorization
      parameters:
        - name: consentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
  /intelligence/{consentId}/spending-categorization/accounts:
    get:
      tags:
        - Categorização de Gastos
      summary: Categorização de gastos de contas
      description: ''
      operationId: getAccountSpendingCategorization
      parameters:
        - name: consentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
  /api/v1/users/{user_id}/analysis/credit-cards-transactions/categories:
    get:
      tags:
        - Categorização de Gastos
      summary: Composição de gastos (categorização)
      description: >
        Retorna a composição dos gastos do usuário em cartões de crédito
        agrupados por categoria, com valor e percentual de cada grupo.
      operationId: getSpendingComposition
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: referenceMonth
          in: query
          required: false
          description: Mês de referência (YYYY-MM).
          schema:
            type: string
            example: 2024-09
      responses:
        '200':
          description: Composição de gastos retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingComposition'
              example:
                referenceMonth: 2024-09
                totalAmount:
                  amount: '3250.75'
                  currency: BRL
                categories:
                  - category: ALIMENTACAO
                    amount:
                      amount: '980.50'
                      currency: BRL
                    percentage: 30.16
                    transactionCount: 12
                  - category: TRANSPORTE
                    amount:
                      amount: '650.00'
                      currency: BRL
                    percentage: 20
                    transactionCount: 8
                  - category: SAUDE
                    amount:
                      amount: '420.25'
                      currency: BRL
                    percentage: 12.93
                    transactionCount: 3
                  - category: LAZER
                    amount:
                      amount: '350.00'
                      currency: BRL
                    percentage: 10.77
                    transactionCount: 5
                  - category: OUTROS
                    amount:
                      amount: '850.00'
                      currency: BRL
                    percentage: 26.14
                    transactionCount: 15
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/financial/{type}:
    get:
      tags:
        - Recomendações Personalizadas
      summary: Recomendações financeiras
      description: >
        Retorna recomendações financeiras personalizadas para o usuário com base
        no seu perfil de comportamento financeiro via Open Finance.
      operationId: getFinancialRecommendations
      parameters:
        - name: user_id
          in: path
          required: true
          description: Identificador único do usuário na plataforma DataLink.
          schema:
            type: string
            format: uuid
            example: 9d9fe35d-8e12-46f3-807c-4bdaa1238d32
        - name: type
          in: path
          required: true
          description: Tipo de recomendação financeira solicitada.
          schema:
            type: string
            enum:
              - CREDIT
              - INVESTMENTS
              - SAVINGS
              - INSURANCE
            example: CREDIT
      responses:
        '200':
          description: Recomendações financeiras retornadas com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FinancialRecommendation'
              example:
                data:
                  - type: CREDIT
                    title: Renegociação de dívida
                    description: >-
                      Identificamos que você possui 2 contratos de crédito com
                      taxas acima da média do mercado. Considere a portabilidade
                      de crédito para reduzir sua taxa.
                    priority: HIGH
                    potentialSaving:
                      amount: '1200.00'
                      currency: BRL
                    referenceMonth: 2024-09
        '401':
          description: Não autorizado. Token ausente ou inválido.
        '404':
          description: Usuário não encontrado.
  /api/v1/users/{user_id}/analysis/financial/general:
    get:
      tags:
        - Credit Signals API
      summary: Análise financeira
      description: >
        Retorna a análise financeira consolidada do usuário para decisões de
        crédito e risco, incluindo indicadores de renda, endividamento,
[...]
