{
  "openapi": "3.0.0",
  "info": {
    "title": "Data Distributor - 1.0.2",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://itp-dados.hml.linaopenx.com.br"
    },
    {
      "url": "http://localhost:3001"
    }
  ],
  "components": {
    "securitySchemes": {
      "noauthAuth": {
        "type": "http",
        "scheme": "noauth"
      },
      "oauth2Auth": {
        "type": "http",
        "scheme": "oauth2"
      }
    }
  },
  "security": [
    {
      "oauth2Auth": []
    }
  ],
  "tags": [
    {
      "name": "1 - Fluxo de consentimento"
    },
    {
      "name": "2 - Fluxo de consulta de informações"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Atualizações forçadas (Force Sync)"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Informações cadastrais"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Contas"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Cartões de crédito"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Contratos de crédito"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Investimentos"
    },
    {
      "name": "2 - Fluxo de consulta de informações > Consentimentos"
    },
    {
      "name": "3 - Análise de dados"
    },
    {
      "name": "3 - Análise de dados > Contas"
    },
    {
      "name": "3 - Análise de dados > Cartões de crédito"
    },
    {
      "name": "3 - Análise de dados > Usuário"
    },
    {
      "name": "3 - Análise de dados > Investimentos"
    },
    {
      "name": "X - Métricas"
    },
    {
      "name": "5 - Notificações"
    }
  ],
  "paths": {
    "/api/v1/organisations": {
      "get": {
        "tags": [
          "1 - Fluxo de consentimento"
        ],
        "summary": "1.1 - Listagem de participantes",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "1066766"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"10470e-RqolU7JyM1sBVtW5ENY4VlKJQJo\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 09 Sep 2024 16:53:08 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "OrganisationName": "Open Banking Brasil",
                      "OrganisationId": "74e929d9-33b6-4d85-8ba7-c146c867a817",
                      "LegalEntityName": "Raidiam Services Ltd",
                      "RegistrationNumber": "43142666000197",
                      "ParentOrganisationReference": "43142666000197",
                      "AuthorisationServers": [
                        {
                          "AuthorisationServerId": "9d2b7710-b412-4a12-a385-02df9d56d6c6",
                          "CustomerFriendlyName": "OPENDATA_INSTITUICAO",
                          "CustomerFriendlyDescription": "Breve descrição do servidor",
                          "CustomerFriendlyLogoUri": "https://www.instituicao.com.br/logo.png",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "3d7d6dba-d1a1-492f-8a2d-ee5c84e9f88f",
                          "CustomerFriendlyName": "WebhookDevServer",
                          "CustomerFriendlyDescription": null,
                          "CustomerFriendlyLogoUri": "https://www.invalid.com",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "9e9b3556-9b2c-49a0-825d-c9b28b31d5c9",
                          "CustomerFriendlyName": "Raidiam Mock Bank - Dev",
                          "CustomerFriendlyDescription": null,
                          "CustomerFriendlyLogoUri": "https://tpp.localhost/logo.png",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "9e9ee2ee-d74a-4817-9a00-878532d8f0e8",
                          "CustomerFriendlyName": "Mock Authorization Server 2",
                          "CustomerFriendlyDescription": null,
                          "CustomerFriendlyLogoUri": "https://auth.mock.raidiam.io/logo.png",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "6ea8164b-4b6e-45ac-86ee-6b4595519d9e",
                          "CustomerFriendlyName": "PRT AS 01062023-01",
                          "CustomerFriendlyDescription": "test",
                          "CustomerFriendlyLogoUri": "https://www.example.com/file.svg",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "03aec37e-2a7a-4a39-8cd7-4620f2cafd33",
                          "CustomerFriendlyName": "Sandbox Directory",
                          "CustomerFriendlyDescription": "1",
                          "CustomerFriendlyLogoUri": "https://brazil-ob-tenants-static-files.s3.sa-east-1.amazonaws.com/bofa/Logo_BofA.svg",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "1bf948d5-3546-4cc4-af3e-b8a2ffb86f76",
                          "CustomerFriendlyName": "PRT-2809-01",
                          "CustomerFriendlyDescription": "test",
                          "CustomerFriendlyLogoUri": "https://www.example.com/file.svg",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "c8f0bf49-4744-4933-8960-7add6e590841",
                          "CustomerFriendlyName": "Mock Bank",
                          "CustomerFriendlyDescription": "Mock Bank by Raidiam",
                          "CustomerFriendlyLogoUri": "https://cdn.raidiam.io/directory-ui/brand/obbrazil/0.2.0.112/favicon.svg",
                          "ApiResources": [
                            {
                              "ApiFamilyType": "opendata-investments_funds",
                              "ApiVersion": "1.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://obb.qa.oob.opus-software.com.br/open-banking/opendata-investments/v1/funds"
                              ]
                            },
                            {
                              "ApiFamilyType": "variable-incomes",
                              "ApiVersion": "1.1.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/variable-incomes/v1/investments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/variable-incomes/v1/investments/{investmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/variable-incomes/v1/investments/{investmentId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/variable-incomes/v1/investments/{investmentId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/variable-incomes/v1/investments/{investmentId}/transactions-current",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/variable-incomes/v1/broker-notes/{brokerNoteId}"
                              ]
                            },
                            {
                              "ApiFamilyType": "enrollments",
                              "ApiVersion": "2.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/enrollments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/enrollments/{enrollmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/enrollments/{enrollmentId}/fido-registration-options",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/enrollments/{enrollmentId}/fido-registration",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/enrollments/{enrollmentId}/fido-sign-options",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/enrollments/{enrollmentId}/risk-signals",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v2/consents/{consentId}/authorise"
                              ]
                            },
                            {
                              "ApiFamilyType": "consents",
                              "ApiVersion": "3.0.1",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/consents/v3/consents",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/consents/v3/consents/{consentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/consents/v3/consents/{consentId}/extends",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/consents/v3/consents/{consentId}/extensions"
                              ]
                            },
                            {
                              "ApiFamilyType": "bank-fixed-incomes",
                              "ApiVersion": "1.0.3",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/bank-fixed-incomes/v1/investments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/bank-fixed-incomes/v1/investments/{investmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/bank-fixed-incomes/v1/investments/{investmentId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/bank-fixed-incomes/v1/investments/{investmentId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/bank-fixed-incomes/v1/investments/{investmentId}/transactions-current"
                              ]
                            },
                            {
                              "ApiFamilyType": "treasure-titles",
                              "ApiVersion": "1.0.1",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/treasure-titles/v1/investments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/treasure-titles/v1/investments/{investmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/treasure-titles/v1/investments/{investmentId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/treasure-titles/v1/investments/{investmentId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/treasure-titles/v1/investments/{investmentId}/transactions-current"
                              ]
                            },
                            {
                              "ApiFamilyType": "credit-fixed-incomes",
                              "ApiVersion": "1.0.2",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-fixed-incomes/v1/investments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-fixed-incomes/v1/investments/{investmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-fixed-incomes/v1/investments/{investmentId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-fixed-incomes/v1/investments/{investmentId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-fixed-incomes/v1/investments/{investmentId}/transactions-current"
                              ]
                            },
                            {
                              "ApiFamilyType": "funds",
                              "ApiVersion": "1.0.2",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}/transactions-current",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/funds/v1/investments/{investmentId}/transactions-current"
                              ]
                            },
                            {
                              "ApiFamilyType": "accounts",
                              "ApiVersion": "2.4.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/accounts/v2/accounts",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/accounts/v2/accounts/{accountId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/accounts/v2/accounts/{accountId}/balances",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/accounts/v2/accounts/{accountId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/accounts/v2/accounts/{accountId}/transactions-current",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/accounts/v2/accounts/{accountId}/overdraft-limits"
                              ]
                            },
                            {
                              "ApiFamilyType": "credit-cards-accounts",
                              "ApiVersion": "2.3.1",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/limits",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/transactions",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/transactions-current",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/bills",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/bills/{billId}/transactions"
                              ]
                            },
                            {
                              "ApiFamilyType": "customers-business",
                              "ApiVersion": "2.1.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/customers/v2/business/identifications",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/customers/v2/business/qualifications",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/customers/v2/business/financial-relations"
                              ]
                            },
                            {
                              "ApiFamilyType": "customers-personal",
                              "ApiVersion": "2.1.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/customers/v2/personal/identifications",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/customers/v2/personal/qualifications",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/customers/v2/personal/financial-relations"
                              ]
                            },
                            {
                              "ApiFamilyType": "financings",
                              "ApiVersion": "2.2.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/financings/v2/contracts",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/financings/v2/contracts/{contractId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/financings/v2/contracts/{contractId}/warranties",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/financings/v2/contracts/{contractId}/payments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/financings/v2/contracts/{contractId}/scheduled-instalments"
                              ]
                            },
                            {
                              "ApiFamilyType": "invoice-financings",
                              "ApiVersion": "2.2.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/invoice-financings/v2/contracts",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/invoice-financings/v2/contracts/{contractId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/invoice-financings/v2/contracts/{contractId}/warranties",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/invoice-financings/v2/contracts/{contractId}/payments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/invoice-financings/v2/contracts/{contractId}/scheduled-instalments"
                              ]
                            },
                            {
                              "ApiFamilyType": "loans",
                              "ApiVersion": "2.2.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/loans/v2/contracts",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/loans/v2/contracts/{contractId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/loans/v2/contracts/{contractId}/warranties",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/loans/v2/contracts/{contractId}/payments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/loans/v2/contracts/{contractId}/scheduled-instalments"
                              ]
                            },
                            {
                              "ApiFamilyType": "unarranged-accounts-overdraft",
                              "ApiVersion": "2.2.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/unarranged-accounts-overdraft/v2/contracts",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/unarranged-accounts-overdraft/v2/contracts/{contractId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/unarranged-accounts-overdraft/v2/contracts/{contractId}/warranties",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/unarranged-accounts-overdraft/v2/contracts/{contractId}/payments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/unarranged-accounts-overdraft/v2/contracts/{contractId}/scheduled-instalments"
                              ]
                            },
                            {
                              "ApiFamilyType": "resources",
                              "ApiVersion": "3.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/resources/v3/resources"
                              ]
                            },
                            {
                              "ApiFamilyType": "payments-consents",
                              "ApiVersion": "4.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/payments/v4/consents",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/payments/v4/consents/{consentId}"
                              ]
                            },
                            {
                              "ApiFamilyType": "exchanges",
                              "ApiVersion": "1.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/exchanges/v1/operations",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/exchanges/v1/operations/{operationId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/exchanges/v1/operations/{operationId}/events"
                              ]
                            },
                            {
                              "ApiFamilyType": "payments-recurring-consents",
                              "ApiVersion": "1.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/automatic-payments/v1/recurring-consents",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/automatic-payments/v1/recurring-consents/{recurringConsentId}"
                              ]
                            },
                            {
                              "ApiFamilyType": "payments-pix-recurring-payments",
                              "ApiVersion": "1.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/automatic-payments/v1/pix/recurring-payments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/automatic-payments/v1/pix/recurring-payments/{recurringPaymentId}"
                              ]
                            },
                            {
                              "ApiFamilyType": "payments-pix",
                              "ApiVersion": "4.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/payments/v4/pix/payments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/payments/v4/pix/payments/{paymentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/payments/v4/pix/payments/consents/{consentId}"
                              ]
                            },
                            {
                              "ApiFamilyType": "enrollments",
                              "ApiVersion": "1.3.1",
                              "ApiDiscoveryEndpoints": [
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/enrollments",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/enrollments/{enrollmentId}",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/enrollments/{enrollmentId}/fido-registration-options",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/enrollments/{enrollmentId}/fido-registration",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/enrollments/{enrollmentId}/fido-sign-options",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/enrollments/{enrollmentId}/risk-signals",
                                "https://matls-api.mockbank.poc.raidiam.io/open-banking/enrollments/v1/consents/{consentId}/authorise"
                              ]
                            }
                          ]
                        },
                        {
                          "AuthorisationServerId": "8875181f-25c0-423c-b8e2-5576562b754a",
                          "CustomerFriendlyName": "Phase3Publication",
                          "CustomerFriendlyDescription": "Test AS",
                          "CustomerFriendlyLogoUri": "https://www.example.com/file.svg",
                          "ApiResources": []
                        },
                        {
                          "AuthorisationServerId": "8b84d2b4-f05b-4521-b128-2ad83ad56a80",
                          "CustomerFriendlyName": "40charstest",
                          "CustomerFriendlyDescription": "Test",
                          "CustomerFriendlyLogoUri": "https://www.example.com/file.svg",
                          "ApiResources": [
                            {
                              "ApiFamilyType": "opendata-investments_variable-incomes",
                              "ApiVersion": "1.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://openbanking-h.api.santander.com.br/open-banking/opendata-investments/v1/variable-incomes"
                              ]
                            },
                            {
                              "ApiFamilyType": "exchanges",
                              "ApiVersion": "1.0.0",
                              "ApiDiscoveryEndpoints": [
                                "https://www.example.com/open-banking/exchanges/v1/operations"
                              ]
                            }
                          ]
                        },
                        {
                          "AuthorisationServerId": "856e62aa-6891-48fa-b8de-4f365d4b22e5",
                          "CustomerFriendlyName": "Webhook Test Server",
                          "CustomerFriendlyDescription": "teste para webhook - edição",
                          "CustomerFriendlyLogoUri": "https://www.naoseaplica.com/file.svg",
                          "ApiResources": []
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/consents": {
      "post": {
        "tags": [
          "1 - Fluxo de consentimento"
        ],
        "summary": "1.2 - Criação de consentimento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organisationId": {
                    "type": "string"
                  },
                  "authorisationServerId": {
                    "type": "string"
                  },
                  "consent": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "loggedUser": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "cpf": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "businessEntity": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "cnpj": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "description": "caso a consulta seja para pessoa jurídica"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "verificar a lista de permissões"
                        }
                      },
                      "type": "object",
                      "required": [
                        "loggedUser",
                        "permissions"
                      ]
                    }
                  }
                },
                "required": [
                  "organisationId",
                  "consent",
                  "authorisationServerId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "276"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"114-FQ782ozMDi6vnF257R1ECxPzCIc\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 09 Sep 2024 17:13:36 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirectUrl": {
                      "type": "string",
                      "example": "https://auth.mockbank.poc.raidiam.io/auth?request_uri=urn%3Aietf%3Aparams%3Aoauth%3Arequest_uri%3AD2AKVKARaSdsGQ5KF_8Q8&client_id=yXYqweXJXhxqMebXy7j_e&state=WD2D99Nhn3nse80JoBP87n0E1IA8utKYxpxxDONIba2UPpTNGKLDod38gWlhhLexDgu9Y8xmuWzAJGhpibmDaNNG4bg3HzDYTIo3"
                    }
                  }
                },
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/consents/callback": {
      "post": {
        "tags": [
          "1 - Fluxo de consentimento"
        ],
        "summary": "1.3 - Validar Callback",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"state\\\": \\\"E7GVvLmLh1OQpr2Ea3n83Um1NpWqFdUDFbYE0j8nzpTPO5HPRuIpxXyGS2TAq0xTLxmTIpdp0eDkdCIkh4tJsmJ008IWkJA7zkXI\\\",\\n    \\\"code\\\": \\\"mmT7ZRcAP4i8Ebh9lmgLzPUsL5265IVePwkHTHbiXcK\\\",\\n    \\\"idToken\\\": \\\"eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjE2MjI2MzA0MDk2MjEtYzliZWRiMWVhYSJ9.eyJzdWIiOiJyYWxwaC5icmFnZ0BnbWFpbC5jb20iLCJhY3IiOiJ1cm46YnJhc2lsOm9wZW5iYW5raW5nOmxvYTIiLCJub25jZSI6IldKSEttV3pOc1lIN01xNEJtSG5lbW9Zb0tyaTlDRnpuN3NyZmk3TWdKcmRDUlVhemNQdmhiVHhpSTBaQkNjem5CN2RQeVRqemczaHRqMmNzWUpvbkhzTVB3TTN5NVRXZlQwdUdnQnVZQlBYRjA5VTZwdmFuNk9Bb0VZUzMyZ3BtIiwiY19oYXNoIjoidk8zckJJUHY0alFVR0ZlUVV6YTg5QSIsInNfaGFzaCI6IjhYZHRza0dPaEJnTzJnVk5QNkE4R0EiLCJhdWQiOiJ5WFlxd2VYSlhoeHFNZWJYeTdqX2UiLCJleHAiOjE3MjU5MDYzMTQsImlhdCI6MTcyNTkwMjcxNCwiaXNzIjoiaHR0cHM6Ly9hdXRoLm1vY2tiYW5rLnBvYy5yYWlkaWFtLmlvIn0.iTvhz0V1FghgCLJWCcJq2Yck42ZQJ8mrOBaYQHUXQR9MBI_2VW-KSmsV_6sMxRXjyI-PABIcGlT-EIf0aVWDxaq6WFyqwq3OVhhz4McRP5koDCAtL2xm8qXFM9VeELDJzkeo3GzLTvEPmpJdIgMpKoPsytI9hINNdpirNXU2vRxdhM4MloGT769tyjKfpc0k_NaFH9HzIeKcn4azNlnHKZhPywx5TG2eWmTDlee8d2C6l5I8_JQ1M7XGP_1x_VoTOtyB_6MDiONCegO2PXONvbKM1koGoBib9xuw1y3O1Wwb4ZhUCTiKqQgzqjpCMu24wFesVV7fTlz3d80dcDDfRg\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tenant_id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{tenant_id}}"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "235"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"eb-P50iPl1DQNK6+WZ6UJMqlP5DzhQ\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 09 Sep 2024 17:25:25 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "userId": "cb9440aa-fcf0-4079-a95a-f9b1f6cf0bad",
                  "authorisationServerId": "c8f0bf49-4744-4933-8960-7add6e590841",
                  "organisationId": "74e929d9-33b6-4d85-8ba7-c146c867a817",
                  "consentId": "urn:raidiambank:8345d4d3-750d-494d-823e-047d384790e8"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/consents/{id}/sync": {},
    "/api/v1/users/{user_id}/accounts/sync": {
      "get": {
        "tags": [
          "2 - Fluxo de consulta de informações > Atualizações forçadas (Force Sync)"
        ],
        "summary": "Contas",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "{{user_id}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "1950"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"79e-Rl0wiDoe2z5w0MvMHKvlDTZn/nQ\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 09 Sep 2024 18:49:09 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "authorisationServerId": "c8f0bf49-4744-4933-8960-7add6e590841",
                      "branchCode": "6272",
                      "brandName": "Sib Bank",
                      "checkDigit": "4",
                      "companyCnpj": "40156018000100",
                      "compeCode": "123",
                      "number": "11188222",
                      "organisationId": "74e929d9-33b6-4d85-8ba7-c146c867a817",
                      "type": "CONTA_POUPANCA",
                      "updatedAt": "2024-09-09T18:00:46.349Z",
                      "details": {
                        "compeCode": "123",
                        "branchCode": "6272",
                        "number": "11188222",
                        "checkDigit": "4",
                        "type": "CONTA_POUPANCA",
                        "subtype": "INDIVIDUAL",
                        "currency": "BRL"
                      },
                      "balance": {
                        "availableAmount": {
                          "amount": "41233.07",
                          "currency": "BRL"
                        },
                        "blockedAmount": {
                          "amount": "999.99",
                          "currency": "BRL"
                        },
                        "automaticallyInvestedAmount": {
                          "amount": "15000.00",
                          "currency": "BRL"
                        },
                        "updateDateTime": "2024-09-09T10:53:52Z"
                      },
                      "overdraftLimits": {
                        "overdraftContractedLimit": {
                          "amount": "99.9999",
                          "currency": "BRL"
                        },
                        "overdraftUsedLimit": {
                          "amount": "12345.40",
                          "currency": "BRL"
                        },
                        "unarrangedOverdraftAmount": {
                          "amount": "99.9999",
                          "currency": "BRL"
                        }
                      }
                    },
                    {
                      "accountId": "291e5a29-49ed-401f-a583-193caa7aceee",
                      "authorisationServerId": "c8f0bf49-4744-4933-8960-7add6e590841",
                      "branchCode": "6272",
                      "brandName": "Sib Bank",
                      "checkDigit": "4",
                      "companyCnpj": "40156018000100",
                      "compeCode": "123",
                      "number": "94088392",
                      "organisationId": "74e929d9-33b6-4d85-8ba7-c146c867a817",
                      "type": "CONTA_DEPOSITO_A_VISTA",
                      "updatedAt": "2024-09-09T18:00:50.299Z",
                      "details": {
                        "compeCode": "123",
                        "branchCode": "6272",
                        "number": "94088392",
                        "checkDigit": "4",
                        "type": "CONTA_DEPOSITO_A_VISTA",
                        "subtype": "INDIVIDUAL",
                        "currency": "BRL"
                      },
                      "balance": {
                        "availableAmount": {
                          "amount": "100000000.04",
                          "currency": "BRL"
                        },
                        "blockedAmount": {
                          "amount": "12345.0001",
                          "currency": "BRL"
                        },
                        "automaticallyInvestedAmount": {
                          "amount": "15000.00",
                          "currency": "BRL"
                        },
                        "updateDateTime": "2024-09-09T16:47:45Z"
                      },
                      "overdraftLimits": {
                        "overdraftContractedLimit": {
                          "amount": "99.9999",
                          "currency": "BRL"
                        },
                        "overdraftUsedLimit": {
                          "amount": "10000.9999",
                          "currency": "BRL"
                        },
                        "unarrangedOverdraftAmount": {
                          "amount": "99.9999",
                          "currency": "BRL"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{user_id}/accounts/{account_id}/transactions/sync": {
      "get": {
        "tags": [
          "2 - Fluxo de consulta de informações > Atualizações forçadas (Force Sync)"
        ],
        "summary": "Transações de Conta",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "{{user_id}}"
          },
          {
            "name": "account_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "{{account_id}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "27778"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"6c82-p/CqyzrxNV+Xub9vgUn1+IVLPi0\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 09 Sep 2024 18:52:41 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "901827b9-aba7-40c4-96a1-dd48846f3f57",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-13T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "639c4d65-4176-48de-a389-90125bd01d62",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-12T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "4a8a9ff8-648a-4d2e-9650-ca694b49df86",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-11T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "d1c7a997-3a8b-4e74-8d28-b8144df093b0",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-10T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "a85230b4-d9b8-4bad-9c08-368b06055301",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-09T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "c1bdb54f-dec5-4b51-b661-4ad48ed482ba",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-08T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "3f72f9ea-0023-4d2b-945d-7e6682b3be33",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-07T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "959fe20a-a4ee-4010-b41b-25f5412dcd27",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-07T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "2fd8a09f-d833-4735-9184-0057914485e7",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-06T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "6255a4f9-fc61-4009-af60-21b73a2a4d22",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-06T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "075ac451-f525-4fb3-bb42-20f5115b8d1b",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-05T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "9e659a45-2514-4cfd-b517-ad4b6544df9d",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-05T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "24b05b83-7ebe-434a-935f-e598da5433c0",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-04T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "b29e02b7-e807-426e-96cf-8462226665e9",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-04T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "8dd96b80-593c-4a7f-8d05-aae8ad53d680",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-03T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "6dcffab3-9052-47cd-992d-7b0e609d52d3",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-03T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "ac288fcc-0d7a-45a2-ab3f-1a248de33271",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-02T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "9d1edfbc-8630-467e-a75c-33b5492153fe",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-02T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "6c3c7c33-616d-4f94-b557-d351dc7f6547",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-01T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "6fb99a48-69f6-47b6-8df3-c3e1e7fb3c17",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-03-01T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "4699755b-7f75-455a-91ab-92f806c07c83",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-29T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "78a0b10d-43e6-4bb6-b7c1-e07cd4874d83",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-29T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "0fee4975-29a1-40f6-a7e9-5fa6a97d28ae",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-28T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "c60065f4-b67f-4bad-b231-79a55048ae48",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-28T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "d47233ef-d7c0-463c-885a-b6c4aa0014c2",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-27T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "6b7d16cb-de5a-4ab6-bd4d-664a9071c6d1",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-27T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "4f9d78fe-3468-4b4f-8ba9-412d193b1f73",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-26T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "64ab327a-1cfe-462e-a88e-2ded2fb697ff",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-26T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "da6dd28b-f560-4224-b526-7c4f5947bb44",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-25T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "bc7236ad-2688-46e2-b8d7-9f24ec62d737",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-25T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "017a1c5a-81d6-41d6-ba2f-60575112d4f9",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-24T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "81c3b10b-2077-40f6-b17d-d8892f727740",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-24T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "43c0e23c-0e50-4a99-b5d8-955741e35191",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-23T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "51b79622-ba18-4c4a-93ed-2d94167e6621",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-23T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "14749d0a-95ce-4e49-a68b-f93c5dd821f6",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-22T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "795416be-2df8-4f49-ad5d-c59f5af70408",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-22T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "30c76a39-c21a-4c4d-96f0-c9daaf16d23f",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-21T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "094e755e-0ae0-4a79-9a82-636fb9cbf6ab",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-21T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "478b713d-b574-41fe-902b-b61750cd3ea6",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-20T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "a7803a53-a80d-4538-9fd2-d64780dd2787",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-20T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "929860f4-8346-4e90-9553-e21468df2af5",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-19T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "0fbb530d-bc38-404a-8b57-4dc944e997ae",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-19T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "a82fae04-4802-445a-b3a9-2e780aca075a",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-18T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "222d295a-30f5-43b2-9366-f2cab5f34c57",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-18T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "b75bbb22-0be3-4784-af93-5c0be7194b51",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-17T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "5db81766-cf63-4e1b-8136-f693af6f91f4",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-16T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "a50fbbee-3aa3-4e88-b6ba-cb8b577a0da4",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-15T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "c8a933bf-cf1b-4359-ac71-33f776448fb5",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-14T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "c441c6a6-1549-48d8-9cdf-b7cdd5b508db",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-13T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    },
                    {
                      "userId": "0e58fecb-5a34-4b2c-a1b2-d2f8626df017",
                      "transactionId": "aac6fc4d-9c55-43e3-926f-dcd421fa61a4",
                      "accountId": "291e5a29-49ed-401f-a583-193caa7acddd",
                      "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                      "creditDebitType": "DEBITO",
                      "partieBranchCode": "6272",
                      "partieCheckDigit": "4",
                      "partieCnpjCpf": "87517400444",
                      "partieCompeCode": "123",
                      "partieNumber": "94088392",
                      "partiePersonType": "PESSOA_NATURAL",
                      "transactionAmount": {
                        "amount": "771.52",
                        "currency": "BRL"
                      },
                      "transactionDateTime": "2024-02-12T00:00:00.000Z",
                      "transactionName": "PAGAMENTO",
                      "type": "CARTAO"
                    }
                  ],
                  "totalRecords": 50
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{user_id}/credit-cards/{credit_card_account_id}/bills/sync": {
      "get": {
        "tags": [
[...]
