{"openapi":"3.0.0","info":{"title":"Lina Pay API v1.0.0","description":"Endpoints reservados para a comunicação entre Lina e sistema da instituição detentora de contas.\n","version":"1.0.0","contact":{"name":"Service Desk - Lina Infratech","email":"servicedesk@linainfratech.com.br","url":"https://www.linainfratech.com.br/"}},"servers":[{"url":"https://lina.hml.com.br","description":"Servidor de Homologação"},{"url":"https://lina.com.br","description":"Servidor de Produção"}],"paths":{"/api/v1/open-integration/participants/registered":{"get":{"operationId":"OpenIntegrationController_getTenant","summary":"Get Registered Participants","parameters":[{"name":"subTenantId","required":true,"in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"Registered Participants","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Api Integration"],"security":[{"bearer":[]}]}},"/api/v1/open-integration/consents":{"post":{"operationId":"OpenIntegrationController_postConsents","summary":"Create a new consent","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConsentDto"}}}},"responses":{"200":{"description":"The Consent has been successfully created.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoCreatedPaymentDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Api Integration"],"security":[{"bearer":[]}]}},"/api/v1/open-integration/consents/{consentId}/payments/cancel":{"patch":{"operationId":"OpenIntegrationController_cancelPaymentsOfConsents","summary":"Cancel the future payments of consent","parameters":[{"name":"consentId","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelPaymentDto"}}}},"responses":{"200":{"description":"The Consent has been successfully created.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentRequestDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Api Integration"],"security":[{"bearer":[]}]}},"/api/v1/open-integration/payments/{paymentId}/cancel":{"patch":{"operationId":"OpenIntegrationController_patchCancelPayment","summary":"Cancel the específic payment","parameters":[{"name":"paymentId","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelPaymentDto"}}}},"responses":{"200":{"description":"The Consent has been successfully created.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentRequestDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Api Integration"],"security":[{"bearer":[]}]}},"/api/v1/payments/requests/{paymentRequestId}":{"get":{"operationId":"PaymentController_getPaymentRequest","summary":"Get payment request details by ID","parameters":[{"name":"paymentRequestId","required":true,"in":"path","description":"ID of the Payment Request","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment request has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentRequestDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/{paymentId}":{"get":{"operationId":"PaymentController_getPayment","summary":"Get payment details by ID","parameters":[{"name":"paymentId","required":true,"in":"path","description":"ID of the payment","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment request has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoOnePaymentDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/external/{externalId}":{"get":{"operationId":"PaymentController_getPaymentByExternaId","summary":"Get payment by external ID","parameters":[{"name":"externalId","required":true,"in":"path","description":"External ID of the payment","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentRequestDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/txid/{txId}":{"get":{"operationId":"PaymentController_getPaymentByTxId","summary":"Get payment by TxID","parameters":[{"name":"txId","required":true,"in":"path","description":"TxID of the payment","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}}},"components":{"securitySchemes":{"bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"ResponseRequest":{"type":"object","properties":{}},"RetornoPaymentDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the payment","example":"payment123"},"dueDate":{"format":"date-time","type":"string","description":"Due Date of Payment","example":"2024-06-01T12:00:00Z"},"externalComment":{"type":"string","description":"External comment associated with the payment","example":"Payment processed","nullable":true},"txId":{"type":"string","description":"Transaction Identification of the payment","example":"ext123","nullable":true},"externalPaymentId":{"type":"string","description":"External Payment ID associated with the payment","example":"consent123","nullable":true},"status":{"type":"string","description":"Payment status","enum":["PENDENTE","REJEITADO","EM_PROCESSAMENTO","PAGO","EXPIRADO","CANCELADO","ERRO_NA_DETENTORA","ERRO"]}},"required":["id","dueDate","externalComment","txId","externalPaymentId","status"]},"RetornoOnePaymentDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the payment","example":"payment123"},"createDateTime":{"format":"date-time","type":"string","description":"Creation date and time of the payment","example":"2024-06-01T12:00:00Z"},"lastChangedDateTime":{"format":"date-time","type":"string","description":"Last modification date and time of the payment","example":"2024-06-02T12:00:00Z"},"externalComment":{"type":"string","description":"External comment associated with the payment","example":"Payment processed","nullable":true},"txId":{"type":"string","description":"Transaction Identification of the payment","example":"ext123","nullable":true},"cpfCnpj":{"type":"string","description":"Debitor CPF/CNPJ","example":"12345678901234","nullable":true},"redirectUri":{"type":"string","description":"Redirect URI after payment processing","example":"http://example.com/redirect","nullable":true},"tenantId":{"type":"string","description":"Tenant ID associated with the payment","example":"tenant123"},"consentId":{"type":"string","description":"Consent ID associated with the payment","example":"consent123","nullable":true},"value":{"type":"number","description":"Payment value","example":1500.5},"creditor":{"description":"Creditor details","allOf":[{"$ref":"#/components/schemas/PaymentCreditorDto"}]},"debitor":{"description":"Debitor details","nullable":true,"allOf":[{"$ref":"#/components/schemas/PaymentDebitorDto"}]},"dueDate":{"format":"date-time","type":"string","description":"Due Date of Payment","example":"2024-06-01T12:00:00Z"},"externalPaymentId":{"type":"string","description":"External Payment ID associated with the payment","example":"consent123","nullable":true},"status":{"type":"string","description":"Payment status","enum":["PENDENTE","REJEITADO","EM_PROCESSAMENTO","PAGO","EXPIRADO","CANCELADO","ERRO_NA_DETENTORA","ERRO"]},"paymentNumber":{"type":"number","description":"Actual Payment Number","example":"1","nullable":true},"totalPayments":{"type":"number","description":"Total of Payments in Consent","example":"10","nullable":true}},"required":["id","createDateTime","lastChangedDateTime","externalComment","txId","cpfCnpj","redirectUri","tenantId","consentId","value","creditor","debitor","dueDate","externalPaymentId","status","paymentNumber","totalPayments"]},"RetornoCreatedPaymentDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the newly created payment","example":"payment123"},"redirectUrl":{"type":"string","description":"Redirect URL after payment creation","example":"http://example.com/redirect"}},"required":["id","redirectUrl"]},"PaymentCreditorDto":{"type":"object","properties":{"name":{"type":"string","description":"Creditor name","example":"John Doe"},"personType":{"type":"string","description":"Creditor person type","enum":["PESSOA_NATURAL","PESSOA_JURIDICA"]},"cpfCnpj":{"type":"string","description":"Creditor CPF/CNPJ","example":"12345678901234"},"accountNumber":{"type":"string","description":"Creditor account number","example":"1234567890"},"accountIssuer":{"type":"string","description":"Creditor account issuer","example":"0001"},"accountPixKey":{"type":"string","description":"Creditor account Pix key","example":"email@example.com"},"accountIspb":{"type":"string","description":"Creditor account ISPB","example":"12345678"},"accountType":{"type":"string","description":"Creditor account type","enum":["CACC","SVGS","TRAN"]}},"required":["name","personType","cpfCnpj","accountNumber","accountIssuer","accountPixKey","accountIspb","accountType"]},"PaymentDebitorDto":{"type":"object","properties":{"accountNumber":{"type":"string","description":"Debitor account number","example":"1234567890"},"accountIssuer":{"type":"string","description":"Debitor account issuer","example":"0001"},"accountIspb":{"type":"string","description":"Debitor account ISPB","example":"12345678"},"accountType":{"type":"string","description":"Debitor account type","enum":["CACC","SVGS","TRAN"]}},"required":["accountNumber","accountIssuer","accountIspb","accountType"]},"PaymentSchedulerSingleDto":{"type":"object","properties":{"date":{"type":"string","description":"Date","example":"2024-09-01"}},"required":["date"]},"PaymentSchedulerDailyDto":{"type":"object","properties":{"startDate":{"type":"string","description":"startDate","example":"2024-09-01"},"quantity":{"type":"number","description":"Quantity","example":"2"}},"required":["startDate","quantity"]},"PaymentSchedulerWeeklyDto":{"type":"object","properties":{"dayOfWeek":{"type":"string","description":"DayOfWeek","example":"QUARTA_FEIRA"},"startDate":{"type":"string","description":"startDate","example":"2024-09-01"},"quantity":{"type":"number","description":"Quantity","example":"2"}},"required":["dayOfWeek","startDate","quantity"]},"PaymentSchedulerMonthlyDto":{"type":"object","properties":{"dayOfMonth":{"type":"number","description":"DayOfMonth","example":"10"},"startDate":{"type":"string","description":"startDate","example":"2024-09-01"},"quantity":{"type":"number","description":"Quantity","example":"2"}},"required":["dayOfMonth","startDate","quantity"]},"PaymentSchedulerCustomDto":{"type":"object","properties":{"dates":{"description":"Dates","example":"[ \"2023-08-23\", \"2023-09-26\" ]","type":"array","items":{"type":"string"}},"additionalInformation":{"type":"string","description":"AdditionalInformation","example":"Todas quintas e domingos por 6 meses"}},"required":["dates","additionalInformation"]},"PaymentSchedulerDto":{"type":"object","properties":{"single":{"description":"Single details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerSingleDto"}]},"daily":{"description":"Daily details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerDailyDto"}]},"weekly":{"description":"Weekly details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerWeeklyDto"}]},"monthly":{"description":"Monthly details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerMonthlyDto"}]},"custom":{"description":"Custom details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerCustomDto"}]}}},"PaymentDto":{"type":"object","properties":{"details":{"type":"string","description":"Payment details","example":"Payment for services"},"document":{"type":"string","description":"Payment document","example":"document123"},"externalId":{"type":"string","description":"External ID","example":"ext123"},"redirectUri":{"type":"string","description":"Redirect URI","example":"http://example.com/redirect"},"cpfCnpj":{"type":"string","description":"Debitor CPF/CNPJ","example":"12345678901234"},"value":{"type":"number","description":"Payment value","example":1500.5},"creditor":{"description":"Creditor details","allOf":[{"$ref":"#/components/schemas/PaymentCreditorDto"}]},"debitor":{"description":"Debitor details","allOf":[{"$ref":"#/components/schemas/PaymentDebitorDto"}]},"schedule":{"description":"Only one type of scheduled payment should be chosen and the start date must always be at least D+1 calendar days, the maximum number of scheduled payments is 60 installments, and the maximum term should be two years from the date of consent creation, not from the first payment","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerDto"}]}},"required":["redirectUri","value","creditor"]},"RetornoPaymentRequestDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the requested payment","example":"payment123"},"createDateTime":{"format":"date-time","type":"string","description":"Creation date and time of the payment","example":"2024-06-01T12:00:00Z"},"lastChangedDateTime":{"format":"date-time","type":"string","description":"Last modification date and time of the payment","example":"2024-06-02T12:00:00Z"},"externalComment":{"type":"string","description":"External comment associated with the payment","example":"Payment processed","nullable":true},"externalId":{"type":"string","description":"External ID of the payment","example":"ext123","nullable":true},"cpfCnpj":{"type":"string","description":"Debitor CPF/CNPJ","example":"12345678901234","nullable":true},"redirectUri":{"type":"string","description":"Redirect URI after payment processing","example":"http://example.com/redirect","nullable":true},"tenantId":{"type":"string","description":"Tenant ID associated with the payment","example":"tenant123"},"consentId":{"type":"string","description":"Consent ID associated with the payment","example":"consent123","nullable":true},"value":{"type":"number","description":"Payment value","example":1500.5},"status":{"type":"string","description":"Payment Request status","enum":["PENDENTE","EM_PROCESSAMENTO","CONSUMIDO","EXPIRADO","CANCELADO","ERRO_NA_DETENTORA","ERRO"]},"creditor":{"description":"Creditor details","allOf":[{"$ref":"#/components/schemas/PaymentCreditorDto"}]},"debitor":{"description":"Debitor details","nullable":true,"allOf":[{"$ref":"#/components/schemas/PaymentDebitorDto"}]},"type":{"type":"string","description":"Payment Request Type","enum":["NOW","SINGLE","DAILY","WEEKLY","MONTHLY","CUSTOM"],"nullable":true},"payments":{"description":"Payments details","type":"array","items":{"$ref":"#/components/schemas/RetornoPaymentDto"}}},"required":["id","createDateTime","lastChangedDateTime","externalComment","externalId","cpfCnpj","redirectUri","tenantId","consentId","value","status","creditor","debitor","type","payments"]},"CreateConsentDto":{"type":"object","properties":{"organisationId":{"type":"string","description":"Information of Organisation Id","example":"c8f0bf49-4744-4933-8960-7add6e590841"},"authorisationServerId":{"type":"string","description":"Information of Authorisation Server Id","example":"c8f0bf49-4744-4933-8960-7add6e590841"},"paymentId":{"type":"string","description":"Payment ID","example":"payment123"},"payment":{"description":"Debitor details","allOf":[{"$ref":"#/components/schemas/PaymentDto"}]}},"required":["organisationId","authorisationServerId"]},"CancelPaymentDto":{"type":"object","properties":{"cpfCancelledBy":{"type":"string","description":"CPF of responsable cancel","example":"11111111111"}},"required":["cpfCancelledBy"]},"ApiDiscoveryEndpoint":{"type":"object","properties":{"ApiDiscoveryId":{"type":"string","description":"Unique identifier for the API discovery endpoint","example":"discovery123"},"ApiEndpoint":{"type":"string","description":"Endpoint URL for discovering the API","example":"http://example.com/api/discovery"}},"required":["ApiDiscoveryId","ApiEndpoint"]},"ApiResource":{"type":"object","properties":{"ApiResourceId":{"type":"string","description":"Unique identifier for the API resource","example":"api123"},"ApiVersion":{"type":"string","description":"Version of the API resource","example":"1.0.0"},"FamilyComplete":{"type":"boolean","description":"Indicates if the API family is complete","example":true},"ApiCertificationUri":{"type":"string","description":"URI for the API certification (optional)","example":"http://example.com/api-certification"},"CertificationStatus":{"type":"string","description":"Status of the API resource certification","example":"certified"},"CertificationStartDate":{"type":"string","description":"Start date of the API resource certification (optional)","example":"2023-01-01T00:00:00Z"},"CertificationExpirationDate":{"type":"string","description":"Expiration date of the API resource certification (optional)","example":"2024-01-01T00:00:00Z"},"ApiFamilyType":{"type":"string","description":"Type of the API family","example":"oauth2"},"ApiDiscoveryEndpoints":{"description":"List of discovery endpoints for the API resource","type":"array","items":{"$ref":"#/components/schemas/ApiDiscoveryEndpoint"}}},"required":["ApiResourceId","ApiVersion","FamilyComplete","ApiCertificationUri","CertificationStatus","CertificationStartDate","CertificationExpirationDate","ApiFamilyType","ApiDiscoveryEndpoints"]},"AuthorisationServerCertification":{"type":"object","properties":{"CertificationStartDate":{"type":"string","description":"Start date of the certification","example":"2023-01-01T00:00:00Z"},"CertificationExpirationDate":{"type":"string","description":"Expiration date of the certification","example":"2024-01-01T00:00:00Z"},"CertificationId":{"type":"string","description":"Unique identifier for the certification","example":"cert123"},"AuthorisationServerId":{"type":"string","description":"ID of the authorisation server associated with this certification","example":"server123"},"Status":{"type":"string","description":"Current status of the certification","example":"active"},"ProfileVariant":{"type":"string","description":"Variant of the profile associated with the certification","example":"basic"},"ProfileType":{"type":"string","description":"Type of the profile associated with the certification","example":"oauth2"},"ProfileVersion":{"type":"number","description":"Version of the profile associated with the certification","example":1},"CertificationURI":{"type":"string","description":"URI where the certification details can be found","example":"http://example.com/certification/123"}},"required":["CertificationStartDate","CertificationExpirationDate","CertificationId","AuthorisationServerId","Status","ProfileVariant","ProfileType","ProfileVersion","CertificationURI"]},"AuthorisationServer":{"type":"object","properties":{"AuthorisationServerId":{"type":"string","description":"Unique identifier for the authorisation server","example":"server123"},"AutoRegistrationSupported":{"type":"boolean","description":"Indicates if auto-registration is supported by the server","example":true},"AutoRegistrationNotificationWebhook":{"type":"object","description":"Webhook URL for auto-registration notifications (optional)","example":"http://example.com/webhook"},"SupportsCiba":{"type":"boolean","description":"Indicates if CIBA is supported by the server","example":true},"SupportsDCR":{"type":"boolean","description":"Indicates if DCR is supported by the server","example":true},"SupportsRedirect":{"type":"boolean","description":"Indicates if redirect is supported by the server","example":true},"CustomerFriendlyDescription":{"type":"string","description":"A user-friendly description of the authorisation server","example":"OAuth2 server for secure API access"},"CustomerFriendlyLogoUri":{"type":"string","description":"Logo URI for the authorisation server","example":"http://example.com/logo.png"},"CustomerFriendlyName":{"type":"string","description":"User-friendly name of the authorisation server","example":"ACME OAuth2 Server"},"DeveloperPortalUri":{"type":"string","description":"URI for the developer portal (optional)","example":"http://example.com/developer-portal"},"TermsOfServiceUri":{"type":"string","description":"Terms of service URI for the authorisation server (optional)","example":"http://example.com/terms-of-service"},"NotificationWebhookAddedDate":{"type":"string","description":"Date when the notification webhook was added (optional)","example":"2023-01-01T00:00:00Z"},"OpenIDDiscoveryDocument":{"type":"string","description":"OpenID discovery document URI (optional)","example":"http://example.com/.well-known/openid-configuration"},"Issuer":{"type":"string","description":"Issuer for the authorisation server (optional)","example":"https://example.com"},"FederationEndpoint":{"type":"object","description":"Federation endpoint URI (optional)","example":"http://example.com/federation-endpoint"},"PayloadSigningCertLocationUri":{"type":"string","description":"URI for the payload signing certificate location","example":"http://example.com/signing-cert"},"CreatedAt":{"type":"number","description":"Timestamp when the authorisation server was created","example":1638488742},"ParentAuthorisationServerId":{"type":"object","description":"Parent authorisation server ID (optional)","example":"parentServer123"},"DeprecatedDate":{"type":"object","description":"Date when the authorisation server was deprecated (optional)","example":"2024-01-01T00:00:00Z"},"RetirementDate":{"type":"object","description":"Date when the authorisation server was retired (optional)","example":"2025-01-01T00:00:00Z"},"SupersededByAuthorisationServerId":{"type":"object","description":"ID of the authorisation server that superseded this server (optional)","example":"newServer123"},"ApiResources":{"description":"List of API resources associated with the authorisation server","type":"array","items":{"$ref":"#/components/schemas/ApiResource"}},"AuthorisationServerCertifications":{"description":"List of certifications for the authorisation server","type":"array","items":{"$ref":"#/components/schemas/AuthorisationServerCertification"}}},"required":["AuthorisationServerId","AutoRegistrationSupported","AutoRegistrationNotificationWebhook","SupportsCiba","SupportsDCR","SupportsRedirect","CustomerFriendlyDescription","CustomerFriendlyLogoUri","CustomerFriendlyName","DeveloperPortalUri","TermsOfServiceUri","NotificationWebhookAddedDate","OpenIDDiscoveryDocument","Issuer","FederationEndpoint","PayloadSigningCertLocationUri","CreatedAt","ParentAuthorisationServerId","DeprecatedDate","RetirementDate","SupersededByAuthorisationServerId","ApiResources","AuthorisationServerCertifications"]},"OrgDomainClaim":{"type":"object","properties":{"AuthorisationDomainName":{"type":"string","description":"Name of the authorisation domain","example":"example.com"},"AuthorityName":{"type":"string","description":"Authority name associated with the domain claim","example":"Authority X"},"RegistrationId":{"type":"string","description":"Registration ID for the domain claim","example":"reg123"},"Status":{"type":"string","description":"Status of the domain claim","example":"active"}},"required":["AuthorisationDomainName","AuthorityName","RegistrationId","Status"]},"Authorisation":{"type":"object","properties":{"Status":{"type":"string","description":"Status of the authorisation","example":"active"},"MemberState":{"type":"string","description":"Member state associated with the authorisation","example":"US"}},"required":["Status","MemberState"]},"OrgDomainRoleClaim":{"type":"object","properties":{"Status":{"type":"string","description":"Status of the domain role claim","example":"active"},"AuthorisationDomain":{"type":"string","description":"Authorisation domain name","example":"example.com"},"Role":{"type":"string","description":"Role associated with the domain claim","example":"admin"},"RegistrationId":{"type":"string","description":"Registration ID related to the domain role claim","example":"reg123"},"Authorisations":{"description":"List of authorisations for the role claim","type":"array","items":{"$ref":"#/components/schemas/Authorisation"}},"RoleType":{"type":"string","description":"Type of the role (e.g., admin, user)","example":"admin"},"Exclusive":{"type":"boolean","description":"Indicates if the role is exclusive","example":true},"Metadata":{"description":"Metadata associated with the domain role claim","type":"array","items":{"type":"object"}}},"required":["Status","AuthorisationDomain","Role","RegistrationId","Authorisations","RoleType","Exclusive","Metadata"]},"Participant":{"type":"object","properties":{"OrganisationId":{"type":"string","description":"Unique identifier for the organisation","example":"12345"},"Status":{"type":"string","description":"Current status of the participant","example":"active"},"OrganisationName":{"type":"string","description":"Name of the organisation","example":"ACME Corp"},"CreatedOn":{"type":"string","description":"Date when the organisation was created","example":"2023-01-01T00:00:00Z"},"LegalEntityName":{"type":"string","description":"Legal entity name of the organisation","example":"ACME Legal Entity"},"CountryOfRegistration":{"type":"string","description":"Country where the organisation is registered","example":"US"},"CompunknownRegister":{"type":"string","description":"Unknown registration field for the organisation","example":"unknown"},"Tags":{"description":"Tags associated with the organisation","example":["tech","finance"],"type":"array","items":{"type":"string"}},"Size":{"type":"string","description":"Size category of the organisation","example":"medium"},"RegistrationNumber":{"type":"string","description":"Registration number for the organisation","example":"123456789"},"RegistrationId":{"type":"string","description":"Registration ID of the organisation (optional)","example":"reg123"},"RegisteredName":{"type":"string","description":"Registered name of the organisation","example":"ACME Registered Name"},"AddressLine1":{"type":"string","description":"Address line 1 of the organisation","example":"123 Main St"},"AddressLine2":{"type":"string","description":"Address line 2 of the organisation (optional)","example":"Suite 200"},"City":{"type":"string","description":"City where the organisation is located","example":"New York"},"Postcode":{"type":"string","description":"Postal code of the organisation address","example":"10001"},"Country":{"type":"string","description":"Country where the organisation is located","example":"US"},"ParentOrganisationReference":{"type":"string","description":"Reference ID for the parent organisation","example":"parentOrg123"},"AuthorisationServers":{"description":"List of authorisation servers associated with the organisation","type":"array","items":{"$ref":"#/components/schemas/AuthorisationServer"}},"OrgDomainClaims":{"description":"Domain claims of the organisation","type":"array","items":{"$ref":"#/components/schemas/OrgDomainClaim"}},"OrgDomainRoleClaims":{"description":"Role claims of the organisation's domains","type":"array","items":{"$ref":"#/components/schemas/OrgDomainRoleClaim"}}},"required":["OrganisationId","Status","OrganisationName","CreatedOn","LegalEntityName","CountryOfRegistration","CompunknownRegister","Size","RegistrationNumber","RegistrationId","RegisteredName","AddressLine1","AddressLine2","City","Postcode","Country","ParentOrganisationReference","AuthorisationServers","OrgDomainClaims","OrgDomainRoleClaims"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}