{"openapi":"3.0.0","info":{"title":"Lina Pay Link v1.0.0","description":"Endpoints reservados para a comunicação entre Lina e sistema da instituição detentora de contas.\n","version":"1.0.0","contact":{"name":"Service Desk - Lina Infratech","email":"servicedesk@linainfratech.com.br","url":"https://www.linainfratech.com.br/"}},"servers":[{"url":"https://lina.hml.com.br","description":"Servidor de Homologação"},{"url":"https://lina.com.br","description":"Servidor de Produção"}],"paths":{"/api/v1/payments":{"post":{"operationId":"PaymentController_postPayment","summary":"Create a new payment","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDto"}}}},"responses":{"201":{"description":"The payment has been successfully created.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoCreatedPaymentDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/requests/{paymentRequestId}":{"get":{"operationId":"PaymentController_getPaymentRequest","summary":"Get payment request details by ID","parameters":[{"name":"paymentRequestId","required":true,"in":"path","description":"ID of the Payment Request","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment request has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentRequestDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/{paymentId}":{"get":{"operationId":"PaymentController_getPayment","summary":"Get payment details by ID","parameters":[{"name":"paymentId","required":true,"in":"path","description":"ID of the payment","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment request has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoOnePaymentDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/external/{externalId}":{"get":{"operationId":"PaymentController_getPaymentByExternaId","summary":"Get payment by external ID","parameters":[{"name":"externalId","required":true,"in":"path","description":"External ID of the payment","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentRequestDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}},"/api/v1/payments/txid/{txId}":{"get":{"operationId":"PaymentController_getPaymentByTxId","summary":"Get payment by TxID","parameters":[{"name":"txId","required":true,"in":"path","description":"TxID of the payment","schema":{"type":"string"}}],"responses":{"200":{"description":"The payment has been successfully retrieved.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"data":{"$ref":"#/components/schemas/RetornoPaymentDto"},"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"success"},"statusCode":{"type":"number","nullable":true}}}]}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ResponseRequest"},{"properties":{"message":{"type":"string"},"type":{"type":"string","enum":["error","warning","info","success"],"example":"error"},"statusCode":{"type":"number","nullable":true}}}]}}}}},"tags":["Payments"],"security":[{"bearer":[]}]}}},"components":{"securitySchemes":{"bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"ResponseRequest":{"type":"object","properties":{}},"RetornoPaymentDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the payment","example":"payment123"},"dueDate":{"format":"date-time","type":"string","description":"Due Date of Payment","example":"2024-06-01T12:00:00Z"},"externalComment":{"type":"string","description":"External comment associated with the payment","example":"Payment processed","nullable":true},"txId":{"type":"string","description":"Transaction Identification of the payment","example":"ext123","nullable":true},"externalPaymentId":{"type":"string","description":"External Payment ID associated with the payment","example":"consent123","nullable":true},"status":{"type":"string","description":"Payment status","enum":["PENDENTE","REJEITADO","EM_PROCESSAMENTO","PAGO","EXPIRADO","CANCELADO","ERRO_NA_DETENTORA","ERRO"]}},"required":["id","dueDate","externalComment","txId","externalPaymentId","status"]},"RetornoCreatedPaymentDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the newly created payment","example":"payment123"},"redirectUrl":{"type":"string","description":"Redirect URL after payment creation","example":"http://example.com/redirect"}},"required":["id","redirectUrl"]},"PaymentCreditorDto":{"type":"object","properties":{"name":{"type":"string","description":"Creditor name","example":"John Doe"},"personType":{"type":"string","description":"Creditor person type","enum":["PESSOA_NATURAL","PESSOA_JURIDICA"]},"cpfCnpj":{"type":"string","description":"Creditor CPF/CNPJ","example":"12345678901234"},"accountNumber":{"type":"string","description":"Creditor account number","example":"1234567890"},"accountIssuer":{"type":"string","description":"Creditor account issuer","example":"0001"},"accountPixKey":{"type":"string","description":"Creditor account Pix key","example":"email@example.com"},"accountIspb":{"type":"string","description":"Creditor account ISPB","example":"12345678"},"accountType":{"type":"string","description":"Creditor account type","enum":["CACC","SVGS","TRAN"]}},"required":["name","personType","cpfCnpj","accountNumber","accountIssuer","accountPixKey","accountIspb","accountType"]},"PaymentDebitorDto":{"type":"object","properties":{"accountNumber":{"type":"string","description":"Debitor account number","example":"1234567890"},"accountIssuer":{"type":"string","description":"Debitor account issuer","example":"0001"},"accountIspb":{"type":"string","description":"Debitor account ISPB","example":"12345678"},"accountType":{"type":"string","description":"Debitor account type","enum":["CACC","SVGS","TRAN"]}},"required":["accountNumber","accountIssuer","accountIspb","accountType"]},"RetornoOnePaymentDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the payment","example":"payment123"},"createDateTime":{"format":"date-time","type":"string","description":"Creation date and time of the payment","example":"2024-06-01T12:00:00Z"},"lastChangedDateTime":{"format":"date-time","type":"string","description":"Last modification date and time of the payment","example":"2024-06-02T12:00:00Z"},"externalComment":{"type":"string","description":"External comment associated with the payment","example":"Payment processed","nullable":true},"txId":{"type":"string","description":"Transaction Identification of the payment","example":"ext123","nullable":true},"cpfCnpj":{"type":"string","description":"Debitor CPF/CNPJ","example":"12345678901234","nullable":true},"redirectUri":{"type":"string","description":"Redirect URI after payment processing","example":"http://example.com/redirect","nullable":true},"tenantId":{"type":"string","description":"Tenant ID associated with the payment","example":"tenant123"},"consentId":{"type":"string","description":"Consent ID associated with the payment","example":"consent123","nullable":true},"value":{"type":"number","description":"Payment value","example":1500.5},"creditor":{"description":"Creditor details","allOf":[{"$ref":"#/components/schemas/PaymentCreditorDto"}]},"debitor":{"description":"Debitor details","nullable":true,"allOf":[{"$ref":"#/components/schemas/PaymentDebitorDto"}]},"dueDate":{"format":"date-time","type":"string","description":"Due Date of Payment","example":"2024-06-01T12:00:00Z"},"externalPaymentId":{"type":"string","description":"External Payment ID associated with the payment","example":"consent123","nullable":true},"status":{"type":"string","description":"Payment status","enum":["PENDENTE","REJEITADO","EM_PROCESSAMENTO","PAGO","EXPIRADO","CANCELADO","ERRO_NA_DETENTORA","ERRO"]},"paymentNumber":{"type":"number","description":"Actual Payment Number","example":"1","nullable":true},"totalPayments":{"type":"number","description":"Total of Payments in Consent","example":"10","nullable":true}},"required":["id","createDateTime","lastChangedDateTime","externalComment","txId","cpfCnpj","redirectUri","tenantId","consentId","value","creditor","debitor","dueDate","externalPaymentId","status","paymentNumber","totalPayments"]},"PaymentSchedulerSingleDto":{"type":"object","properties":{"date":{"type":"string","description":"Date","example":"2024-09-01"}},"required":["date"]},"PaymentSchedulerDailyDto":{"type":"object","properties":{"startDate":{"type":"string","description":"startDate","example":"2024-09-01"},"quantity":{"type":"number","description":"Quantity","example":"2"}},"required":["startDate","quantity"]},"PaymentSchedulerWeeklyDto":{"type":"object","properties":{"dayOfWeek":{"type":"string","description":"DayOfWeek","example":"QUARTA_FEIRA"},"startDate":{"type":"string","description":"startDate","example":"2024-09-01"},"quantity":{"type":"number","description":"Quantity","example":"2"}},"required":["dayOfWeek","startDate","quantity"]},"PaymentSchedulerMonthlyDto":{"type":"object","properties":{"dayOfMonth":{"type":"number","description":"DayOfMonth","example":"10"},"startDate":{"type":"string","description":"startDate","example":"2024-09-01"},"quantity":{"type":"number","description":"Quantity","example":"2"}},"required":["dayOfMonth","startDate","quantity"]},"PaymentSchedulerCustomDto":{"type":"object","properties":{"dates":{"description":"Dates","example":"[ \"2023-08-23\", \"2023-09-26\" ]","type":"array","items":{"type":"string"}},"additionalInformation":{"type":"string","description":"AdditionalInformation","example":"Todas quintas e domingos por 6 meses"}},"required":["dates","additionalInformation"]},"PaymentSchedulerDto":{"type":"object","properties":{"single":{"description":"Single details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerSingleDto"}]},"daily":{"description":"Daily details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerDailyDto"}]},"weekly":{"description":"Weekly details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerWeeklyDto"}]},"monthly":{"description":"Monthly details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerMonthlyDto"}]},"custom":{"description":"Custom details","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerCustomDto"}]}}},"PaymentDto":{"type":"object","properties":{"details":{"type":"string","description":"Payment details","example":"Payment for services"},"document":{"type":"string","description":"Payment document","example":"document123"},"externalId":{"type":"string","description":"External ID","example":"ext123"},"redirectUri":{"type":"string","description":"Redirect URI","example":"http://example.com/redirect"},"cpfCnpj":{"type":"string","description":"Debitor CPF/CNPJ","example":"12345678901234"},"value":{"type":"number","description":"Payment value","example":1500.5},"creditor":{"description":"Creditor details","allOf":[{"$ref":"#/components/schemas/PaymentCreditorDto"}]},"debitor":{"description":"Debitor details","allOf":[{"$ref":"#/components/schemas/PaymentDebitorDto"}]},"schedule":{"description":"Only one type of scheduled payment should be chosen and the start date must always be at least D+1 calendar days, the maximum number of scheduled payments is 60 installments, and the maximum term should be two years from the date of consent creation, not from the first payment","allOf":[{"$ref":"#/components/schemas/PaymentSchedulerDto"}]}},"required":["redirectUri","value","creditor"]},"RetornoPaymentRequestDto":{"type":"object","properties":{"id":{"type":"string","description":"ID of the requested payment","example":"payment123"},"createDateTime":{"format":"date-time","type":"string","description":"Creation date and time of the payment","example":"2024-06-01T12:00:00Z"},"lastChangedDateTime":{"format":"date-time","type":"string","description":"Last modification date and time of the payment","example":"2024-06-02T12:00:00Z"},"externalComment":{"type":"string","description":"External comment associated with the payment","example":"Payment processed","nullable":true},"externalId":{"type":"string","description":"External ID of the payment","example":"ext123","nullable":true},"cpfCnpj":{"type":"string","description":"Debitor CPF/CNPJ","example":"12345678901234","nullable":true},"redirectUri":{"type":"string","description":"Redirect URI after payment processing","example":"http://example.com/redirect","nullable":true},"tenantId":{"type":"string","description":"Tenant ID associated with the payment","example":"tenant123"},"consentId":{"type":"string","description":"Consent ID associated with the payment","example":"consent123","nullable":true},"value":{"type":"number","description":"Payment value","example":1500.5},"status":{"type":"string","description":"Payment Request status","enum":["PENDENTE","EM_PROCESSAMENTO","CONSUMIDO","EXPIRADO","CANCELADO","ERRO_NA_DETENTORA","ERRO"]},"creditor":{"description":"Creditor details","allOf":[{"$ref":"#/components/schemas/PaymentCreditorDto"}]},"debitor":{"description":"Debitor details","nullable":true,"allOf":[{"$ref":"#/components/schemas/PaymentDebitorDto"}]},"type":{"type":"string","description":"Payment Request Type","enum":["NOW","SINGLE","DAILY","WEEKLY","MONTHLY","CUSTOM"],"nullable":true},"payments":{"description":"Payments details","type":"array","items":{"$ref":"#/components/schemas/RetornoPaymentDto"}}},"required":["id","createDateTime","lastChangedDateTime","externalComment","externalId","cpfCnpj","redirectUri","tenantId","consentId","value","status","creditor","debitor","type","payments"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}